.container {
    width: 100%;
    padding: 2rem;
}

.progress-item {
    width: 100%;
    height: 200px;
    border: 2px solid lightgray;
    padding: 1rem 3rem;
    margin-bottom: 1.5rem;
}

.feed-footer {
    justify-self: end;
}

.feed-main:before {
    content: '\201C';
    font-size: 5rem;
    // transform: translate(-50%, -50%);
    width: 3rem;
    height: 2rem;
    color: #666;
    text-align: center;
    font-family: 'Arial'
}
