.heading {
    background-color: darkgrey;
    height: 30px;
    margin-bottom: 1rem;
}

.subtitle {
    background-color: lightgrey;
    height: 20px;
    margin-bottom: 1rem;
}

.text {
    background-color: #e6e6e6;
    height: 15px;
}