.container {
	padding: 1rem;
}


.no-margin {
	margin: 0;
}

.community-container {
	text-align: center;
}

.pointer {
	cursor: pointer;
}

// .issues-button {
// 	font-weight: 800;
// 	font-size: 1.4em;
// }

.info-block {
    padding: 1rem;
}

.container-white {
	background-color: #FFFFFF;
}

.container-grey {
	background-color: #FAFAFA;
}

.community-container {
	background-color: #FAFAFA;
	padding-bottom: 0;

	// .claim-button {
	// 	margin-top: 1rem;
	// 	margin-bottom: 1rem;
	// }

	// button {
	// 	margin-bottom: 1rem;
	// }
}

.about-community-container {
	text-align: center;
}

@media screen and (max-width: 600px) {
    .community-container {
        padding: 2rem 0.5rem;
    }
}