.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  topics: "« " " »";
}

//global overrides for mat-toolbar
.header-info-panel {
	white-space: normal !important;
	padding-top: 16px;
	height: auto;
	min-height: 32px;
	line-height: 32px;
	padding-bottom: 16px;
	display: block;
}
