.container {
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  issues: "« " " »";
}

//global overrides for mat-toolbar
.header-info-panel {
	white-space: normal !important;
	padding-top: 16px;
	height: auto;
	min-height: 32px;
	line-height: 32px;
	display: block;
}

.image-container {
	height: 350px !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	width: calc(100% + 32px);
	margin: -16px -16px 0px -16px;
}

.description-container {
	padding-top: 32px;
	padding-bottom: 32px;
}

.admin-panel {
	.button-panel {
		background-color: rgba(0, 0, 0, 0.6);
		border-bottom-left-radius: 15px;
	}
}
