<app-loader [isLoading]="loadingState === 'loading' || isLoading"
    size="1.5"></app-loader>

<ng-container [ngSwitch]="loadingState">
    <!-- Header Template -->
    <div *ngSwitchCase="'loading'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasChip]=true>
        </app-skeleton-panel>
    </div>
    <div *ngSwitchCase="'error'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasChip]=true>
        </app-skeleton-panel>
    </div>
    <div *ngSwitchCase="'complete'">
        <mat-toolbar color="primary"
            class="header-info-panel"
            *ngIf="issue">
            <div class="image-container"
                fxLayout="column"
                [defaultImage]="handleImageUrl(issue.imageUrl, true)"
                [lazyLoad]="handleImageUrl(issue.imageUrl)">
                <app-admin-panel model="Issue"
                    path="/issues"
                    [item]="issue"
                    redirectRoute="issues"></app-admin-panel>
                <div fxLayout="row"
                    fxFlex></div>
                <!-- <div fxLayout="column"
                            fxLayoutAlign="start start">
                        </div> -->
                <div fxLayout="row wrap"
                    fxLayoutAlign="center center">
                    <div fxFlex.gt-sm="690px"
                        fxFlex.gt-md="800px">
                        <app-share-buttons></app-share-buttons>
                    </div>
                </div>
            </div>
            <div fxLayout="row wrap"
                fxLayoutAlign="center center"
                class="description-container">
                <div fxFlex.gt-sm="690px"
                    fxFlex.gt-md="800px">
                    <app-notification-bell
                        *ngIf="authQuery.isUserVerified()"
                        [parent]="issue"
                    >
                    </app-notification-bell>
                    <p class="mat-subheading-2">Issue Created: {{ issue.created | date }}</p>                  
                    <div class="mat-display-1" translate>{{ issue.name }}</div>
                    <div class="mat-display-1"
                        translate>{{issue.name}}</div>
                    <app-topic-tags [topics]="issue.topics"></app-topic-tags>
                    <app-more-less [displayText]="issue.description"
                        maxHeight="200">
                    </app-more-less>
                </div>
            </div>
        </mat-toolbar>
    </div>
</ng-container>

<!-- Main Section -->

<ng-container [ngSwitch]="loadingState">
    <div *ngSwitchCase="'error'">
        <div class="container"
            [@fadeIn]=true
            fxLayout="row wrap"
            fxLayoutAlign="center start">
            <div fxFlex.gt-sm="690px"
                fxFlex.gt-md="800px">
                <app-error-card model="Issue">
                </app-error-card>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'loading'">
        <div class="container"
            fxLayout="column"
            fxLayoutAlign="center start">
            <div class="skeleton-media-container">
                <div class="center-item">
                    <app-skeleton-text-bar class="center-item"
                        [isHeading]=true
                        [width]="150">
                    </app-skeleton-text-bar>
                </div>
                <div class="skeleton-media-card-wrap">
                    <app-skeleton-media-card>
                    </app-skeleton-media-card>
                </div>
            </div>
            <div class="skeleton-card-list">
                <app-skeleton-text-bar [isSubtitle]=true
                    [width]="150">
                </app-skeleton-text-bar>

                <app-skeleton-wide-card [showImage]=true
                    [showContent]=true
                    [showActions]=true
                    [showChildren]=true>
                </app-skeleton-wide-card>
                <app-skeleton-wide-card [showImage]=true
                    [showContent]=true
                    [showActions]=true>
                </app-skeleton-wide-card>
                <app-skeleton-wide-card [showImage]=true
                    [showContent]=true
                    [showActions]=true>
                </app-skeleton-wide-card>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'error'">
        <div class="container"
            [@fadeIn]=true
            fxLayout="row wrap"
            fxLayoutAlign="center start">
            <div fxFlex.gt-sm="690px"
                fxFlex.gt-md="800px">
                <app-error-card model="Issue">
                </app-error-card>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="'complete'"
        class="container"
        fxLayout="row wrap"
        fxLayoutAlign="center center">
        <div fxFlex.gt-sm="690px"
            fxFlex.gt-md="800px"    
            [style.width.%]="100">
            <app-progress-bar [progressState]="progress">
            </app-progress-bar>
            <app-progress-form 
                *ngIf="repQuery.isRepForOrg() || authQuery.isModerator()"
                [progress]="progress"
                [notification]="notificationToEdit"
                (updateProgressState)="updateProgress($event)"
                (updateNotifications)="addNotification($event)"
                (removeNotificationIfEditing)="notificationToEdit = null"  
                (submitNotificationUpdate)="updateNotification($event)"
                >
            </app-progress-form>
            <app-notification-feed 
                [notifications]="notifications"
                (toggleEdit)="setNotificationToEdit($event)"
                >
            </app-notification-feed>
            <mat-accordion [multi]="true">
                <mat-expansion-panel class="accordion-header">
                    <mat-expansion-panel-header>
                        <div [ngStyle]="{ 'width': '100%' }" fxLayout="row" fxLayoutAlign="center center">
                            <h2 class="custom-headline no-margin"
                                [ngStyle]="{ 'margin': '0', 'text-align': 'center'}">
                                {{ this.issue.mediaHeading || "Third Party Media"}}
                            </h2>
                            <button 
                                *ngIf="authQuery.isModerator()"
                                mat-icon-button
                                matTooltip="Edit this Issue"
                                color="accent"
                                (click)="toggleHeader($event)"
                                >
                                <mat-icon aria-label="Edit the issue">edit</mat-icon>
                            </button>
                        </div>
                    </mat-expansion-panel-header>
                    <div 
                        *ngIf="headingEdit && authQuery.isModerator()"
                        fxLayout="row"
                        fxLayoutAlign="center center"
                        [ngStyle]="{ 'width': '100%'}"
                        >
                        <mat-form-field 
                            appearance="standard"
                            class="example-full-width">
                            <input 
                                [ngStyle]="{'color': 'black'}"
                                #newHeading 
                                matInput 
                                placeholder="Heading Name"
                                (keyup.enter)="handleSubmit(newHeading.value)"
                                >
                            <button 
                                mat-icon-button
                                matSuffix
                                color="accent"
                                (click)="handleSubmit(newHeading.value)"
                                >
                                <mat-icon >send</mat-icon>
                            </button>
                            
                        </mat-form-field>
                    </div>
                    <app-swiper-wrapper
                        path="/media"
                        [items]="media"
                        model="Media"
                        parent="Issue"
                        [organization]="issue.organizations.name"
                        (restore)="admin.onRestore($event, 'Media')"
                        (softDelete)="admin.onSoftDelete($event, 'Media')"
                        (delete)="admin.onDelete($event, 'Media')"
                        (vote)="onVote($event, 'Media')">
                    </app-swiper-wrapper>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="solutionAccordion" class="accordion-header">
                    <mat-expansion-panel-header>
                        <h2 class="custom-headline no-margin"
                            [ngStyle]="{ 'margin': '0', 'text-align': 'center', 'width': '100%'}">
                            Vote on Solutions
                        </h2>
                    </mat-expansion-panel-header>
                    <app-sort-bar model="Solution"></app-sort-bar>
                    <app-card-list path="/solutions"
                        [items$]=solutions$
                        model="Solution"
                        [showChildren]="true"
                        childPath="proposals"
                        childName="Actions"
                        [showParent]="true"
                        parentPath="/issues"
                        parentPropName="issues"
                        (restore)="admin.onRestore($event, 'Solution')"
                        (delete)="admin.onDelete($event, 'Solution')"
                        (softDelete)="admin.onSoftDelete($event, 'Solution')"
                        (vote)="onVote($event, 'Solution')"
                        (childVote)="onVote($event, 'Proposal')">
                    </app-card-list>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="suggestionAccordion" class="accordion-header">
                    <mat-expansion-panel-header>
                        <h2 class="custom-headline no-margin"
                            [ngStyle]="{ 'margin': '0', 'text-align': 'center', 'width': '100%'}">
                            Community Suggestions
                        </h2>
                    </mat-expansion-panel-header>
                    <app-card-list path="/suggestions"
                        [items$]=suggestions$
                        model="Suggestion"
                        (restore)="admin.onRestore($event, 'Suggestion')"
                        (softDelete)="admin.onSoftDelete($event, 'Suggestion')"
                        (delete)="admin.onDelete($event, 'Suggestion')"
                        (vote)="onVote($event, 'Suggestion')">
                    </app-card-list>
                </mat-expansion-panel>
            </mat-accordion>

            <div *ngIf="isVerified">
                <mat-toolbar color="primary"
                    fxLayoutAlign="center center"
                    [style.margin-bottom]="'1rem'">
                    <span class="custom-headline center-text">Create your own
                        Suggestion</span>
                </mat-toolbar>
                <app-make-suggestion parent="solution"
                    (submitForm)="handleSuggestionSubmit($event)">
                </app-make-suggestion>
            </div>
        </div>
    </div>
</ng-container>
