.skeleton-rep-image {
    display: block;
    width: calc(100%);
    height: 200px;
    background-color: rgba(43, 41, 41, 0.774);
    margin-bottom: 20px;
}

.skeleton-child-container {
    padding: 0.5rem;
    margin-top: 1rem;
}

.field-container {
    display: block;
    width: 100%;
}