<div class="container">
    <div class="progress-header"
        [style.padding-left.rem]="3"
        fxLayout="row">
        <div class="header-logo">
        </div>
        <h2 class="mat-display-1"> Progress News Feed</h2>
    </div>

    <div>
        <ul class="progress-bar">
            <li *ngFor="let state of getStates(progressState)"
                [ngClass]="{
                            'active': state.active,
                            'progress-item': true
                    }">{{ state.name }}</li>
        </ul>
    </div>

</div>
