.card-panel {
    width: 100%;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.button-panel {
    text-align: right;
    // width: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom-left-radius: 15px;
}
