@import "src/theme/theme-variables";

:host {
    display: flex;
    flex: 1;
    background-color: #ECEFF1;
    height: calc(100vh - 64px);
    min-height: 400px;
}

.inline-loader {
    display: inline-block;
}

.remember-toggle {
    margin-bottom: 16px;
}

.version {
    margin: 0;
}

.login-container,
.mat-form-field {
    width: 100%;
}

.login-error {
    color: mat-color($app-warn);
}

.signup-terms {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.larger-spacing {
    li {
        margin-bottom: 16px;
    }
}

.login-button {
    background-color: #f0932b;
    color: rgb(36, 35, 35);
}
