@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #ECEFF1;
  height: calc(100% - 64px);
  min-height: 400px;
}

.inline-loader {
  display: inline-block;
}

.remember-toggle {
	margin-bottom: 16px;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-error {
  color: mat-color($app-warn);
}
