<app-loader [isLoading]="isLoading"
    size="1.5"></app-loader>
<div class="container"
    fxLayoutAlign="center center">
	<mat-card fxFlex.gt-sm="60"
	   >
		<form [formGroup]="organizationForm"
		    fxLayout="column"
		    (ngSubmit)="onSave()"
		    novalidate>
			<mat-form-field>
				<!-- {{organizationForm.status}} -->
				<input matInput
				    placeholder="Enter a name for the organization (properly formatted e.g UQ Union)"
				    formControlName="name"
				    required>
				<mat-error *ngIf="organizationForm.hasError('required', ['name'])">
					The name is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput
					placeholder="Enter a short description for the community (e.g A new way to vote!)"
					formControlName="description"
					required>
				<mat-error *ngIf="organizationForm.hasError('required', ['name'])">
					The description is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<div class="quill-editor-container cf">
				<quill-editor formControlName="longDescription" placeholder="Enter a longer description for your community"></quill-editor>
			</div>

			<mat-form-field>
				<!-- {{organizationForm.status}} -->
				<input matInput
				    placeholder="Enter the URL (lowercase, words separated by dashes e.g uq-union)"
				    formControlName="url"
				    required>
				<mat-error *ngIf="organizationForm.hasError('required', ['url'])">
					The URL is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<input matInput
					type="url"
				    placeholder="(optional) URL to your organization"
				    formControlName="organizationUrl"
				    >
			</mat-form-field>
			<div fxFlex.gt-sm="60" fxLayout="row">
				<mat-form-field style="width: 100%; padding-right: 0.5rem" class="example-chip-list" *ngIf="auth.isAdmin()">
					<mat-chip-list #chipList>
						<mat-chip *ngIf="owner"
							[selectable]="false"
							[removable]="true"
							(removed)="ownerRemoved(owner)">
							{{owner.firstName}} {{owner.lastName}} {{owner.email}}
							<mat-icon matChipRemove>cancel</mat-icon>
						</mat-chip>
						<input placeholder="Select Community Owner"
							#ownerInput
							formControlName="owner"
							[matAutocomplete]="ownerAuto"
							[matChipInputFor]="chipList"
							[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
							[matChipInputAddOnBlur]="true"
							[readonly]="owner"
							(input)="handleChange(ownerInput.value)"
							>
							
					</mat-chip-list>
					<mat-hint color="primary">If user does not appear in dropdown. Enter email to invite to community.</mat-hint>
					<mat-autocomplete #ownerAuto="matAutocomplete"
						(optionSelected)="ownerSelected($event)">
						<mat-option *ngFor="let user of filteredOwners | async"
							[value]="user">
							{{user.firstName}} {{user.lastName}} {{user.email}}
						</mat-option>
					</mat-autocomplete>
				</mat-form-field>
				<div
					*ngIf="!owner && ownerInput"
					fxLayoutAlign="center center">
					<button mat-stroked-button 
						color="primary"
						type="button"
						aria-label="Clear"
						(click)="submitOwnerEmail(ownerInput)"
						[disabled]="!isValid"
						>
						Invite User
					</button>
				</div>
			</div>
			<mat-form-field class="example-chip-list" *ngIf="auth.isOwner()">
				<mat-chip-list #modChipList>
					<mat-chip *ngFor="let mod of organizationForm.value.moderators"
						[selectable]="false"
						[removable]="true"
						(removed)="moderatorRemoved(mod)">
						{{mod}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<input placeholder="Select Community Moderators"
						#moderatorInput
						formControlName="moderatorsControl"
						[matChipInputFor]="modChipList"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="true"
           				(matChipInputTokenEnd)="moderatorSelected($event)">
				</mat-chip-list>
			</mat-form-field>

			<span>Home Page Background Image</span>
			<input type="file"
			    id="imageFileInput"
			    #imageFileInput
			    ng2FileSelect
			    [uploader]="uploader"
			    (change)="onFileChange('backgroundImage', $event)"
			    formControlName="imageUrl"
			    hidden
			    autoComplete="off" />

			<div class="image-select">
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="imageFileInput.click()">Select Image</button>
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="onResetImage('backgroundImage')">Reset Image</button>
				<div class="image-preview"
				    *ngIf="backgroundImage.src">
					<img [src]="backgroundImage.src" />
				</div>
			</div>

			<span>Community Icon</span>
			<input type="file"
				id="iconFileInput"
				#iconFileInput
				ng2FileSelect
				[uploader]="uploader"
				(change)="onFileChange('iconImage', $event)"
				formControlName="iconUrl"
				hidden
				autoComplete="off" />

			<div class="image-select">
				<button mat-flat-button
					type="button"
					color="primary"
					(click)="iconFileInput.click()">Select Image</button>
				<button mat-flat-button
					type="button"
					color="primary"
					(click)="onResetImage('iconImage')">Reset Image</button>
				<div class="image-preview"
					*ngIf="iconImage.src">
					<img [src]="iconImage.src" />
				</div>
			</div>

			<button mat-flat-button
			    type="submit"
			    [disabled]="!organizationForm.valid || isLoading"
			    color="primary">Update</button>
		</form>
	</mat-card>
</div>
