<app-loader [isLoading]="isLoading"
    size="1.5"></app-loader>
<div class="container"
    fxLayoutAlign="center center">
	<mat-card fxFlex.gt-sm="60"
	    fxFlex="100">
		<form [formGroup]="organizationForm"
		    fxLayout="column"
		    (ngSubmit)="onSave()"
		    novalidate>
			<mat-form-field>
				<!-- {{organizationForm.status}} -->
				<input matInput
				    placeholder="Enter a name for the organization (properly formatted e.g UQ Union)"
				    formControlName="name"
				    required>
				<mat-error *ngIf="organizationForm.hasError('required', ['name'])">
					The name is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<!-- {{organizationForm.status}} -->
				<input matInput
				    placeholder="Enter the URL (lowercase, words separated by dashes e.g uq-union)"
				    formControlName="url"
				    required>
				<mat-error *ngIf="organizationForm.hasError('required', ['url'])">
					The URL is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-chip-list">
				<mat-chip-list #chipList>
					<mat-chip *ngIf="owner"
					    [selectable]="false"
					    [removable]="true"
					    (removed)="userRemoved(owner)">
						{{owner.firstName}} {{owner.lastName}} {{owner.email}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<input placeholder="Select Community Owner"
					    #userInput
					    formControlName="owner"
					    [matAutocomplete]="auto"
					    [matChipInputFor]="chipList"
					    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					    [matChipInputAddOnBlur]="true">
				</mat-chip-list>
				<mat-autocomplete #auto="matAutocomplete"
				    (optionSelected)="userSelected($event)">
					<mat-option *ngFor="let user of filteredUsers | async"
					    [value]="user">
						{{user.firstName}} {{user.lastName}} {{user.email}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<input type="file"
			    id="fileupload"
			    #fileInput
			    ng2FileSelect
			    [uploader]="uploader"
			    (change)="onFileChange($event)"
			    hidden
			    autoComplete="off" />

			<input matInput
			    hidden
			    placeholder="Enter a name for the organization"
			    formControlName="imageUrl"
			    required>

			<div class="image-select">
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="fileInput.click()">Select Image</button>
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="onResetImage()">Reset Image</button>
				<div class="image-preview"
				    *ngIf="imageUrl">
					<img [src]="imageUrl" />
				</div>
			</div>

			<button mat-flat-button
			    type="submit"
			    [disabled]="!organizationForm.valid || isLoading"
			    color="primary">Update</button>
		</form>
	</mat-card>
</div>
