<app-header-bar [headerTitle]="headerTitle"
    [headerText]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="isLoading || loadingState === 'loading'"
    size="1.5">
</app-loader>

<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
    <div fxFlex.gt-sm="690px"
        fxFlex.gt-md="800px">
        <ng-container [ngSwitch]="loadingState">
            <div *ngSwitchCase="'loading'"
                class="container"
                fxLayout="column"
                fxLayoutAlign="center start">
                <div class="skeleton-card-list">
                    <!-- <app-skeleton-text-bar [isSubtitle]=true [width]="150">
					</app-skeleton-text-bar> -->

                    <app-skeleton-wide-card [showImage]=true
                        [showContent]=true
                        [showActions]=true
                        [showChildren]=true>
                    </app-skeleton-wide-card>
                    <app-skeleton-wide-card [showImage]=true
                        [showContent]=true
                        [showActions]=true>
                    </app-skeleton-wide-card>
                    <app-skeleton-wide-card [showImage]=true
                        [showContent]=true
                        [showActions]=true>
                    </app-skeleton-wide-card>
                </div>
            </div>
            <app-error-card *ngSwitchCase="'error'">
            </app-error-card>

            <mat-accordion [style.margin-bottom.rem]="1"
                [style.display]="'block'"
                [multi]="true">
                <mat-expansion-panel class="accordion-header"
                    [expanded]="proposals && !!proposals.length && proposals.length > 0">
                    <mat-expansion-panel-header>
                        <h3 class="mat-headline"
                            [ngStyle]="{ 'margin-bottom': '0px', 'text-align': 'center', 'width': '100%'}">
                            Vote on Actions
                        </h3>
                    </mat-expansion-panel-header>
                    <app-card-list *ngSwitchCase="'complete'"
                        path="/proposals"
                        [items$]="proposals$"
                        model="Proposal"
                        [showChildren]="false"
                        childPath="proposals"
                        childName="Actions"
                        [showParent]="true"
                        parentPath="/solutions"
                        parentPropName="solutions"
                        (delete)="admin.onDelete($event, 'Proposal')"
                        (softDelete)="admin.onSoftDelete($event, 'Proposal')"
                        (restore)="admin.onRestore($event, 'Proposal')"
                        (vote)="onVote($event, 'Proposal')"></app-card-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="accordion-header"
                    [expanded]="suggestions.length && suggestions.length > 0">
                    <mat-expansion-panel-header>
                        <h3 class="mat-headline"
                            [ngStyle]="{ 'margin-bottom': '0px', 'text-align': 'center', 'width': '100%'}">
                            Suggestions for Actions
                        </h3>
                    </mat-expansion-panel-header>
                    <app-card-list *ngSwitchCase="'complete'"
                        path="/suggestions"
                        [items$]="suggestions$"
                        model="Suggestion"
                        (restore)="admin.onRestore($event, 'Suggestion')"
                        (softDelete)="admin.onSoftDelete($event, 'Suggestion')"
                        (delete)="admin.onDelete($event, 'Suggestion')"
                        (vote)="onVote($event, 'Suggestion')">
                    </app-card-list>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-container>
    </div>
</div>
