.right-button {
  float: right important;
}

.container {
  padding: 1rem;
}

.modal-item {
  margin: 1rem 0 1rem 0;
}

.add-button {
  margin-left: auto;
}

::ng-deep {
  .mat-dialog-content {
    padding: 0;
    margin: 0;
  }
}