<app-header-bar [title]="headerTitle"
    [text]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="isLoading"
    size="1.5">
</app-loader>

<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<app-grid-list *ngIf="organizations"
		    path="/organizations"
		    model="Organization"
			(delete)="onDelete($event)"
			(restore)="onRestore($event)"
			(softDelete)="onSoftDelete($event)"
		    [items]=organizations></app-grid-list>
</div>
