<mat-toolbar *ngIf="isVisible" color="accent"
    fxFill>
	<mat-form-field class=""
	    appearance="outline"
	    color="warn"
	    fxFill>
		<mat-label>Search entire site</mat-label>
		<input matInput
		    type="text"
		    #searchInputElement
		    [formControl]="searchInputControl"
		    [matAutocomplete]="auto">
		<mat-icon matPrefix>search</mat-icon>
	</mat-form-field>
	<mat-autocomplete #auto="matAutocomplete"
	    (optionSelected)="searchSelected($event)">
		<mat-option *ngFor="let option of searchResults$ | async"
		    [value]="option">
			<span class="schema-tag">{{option.schema}}</span>{{option.name || option.title}}
		</mat-option>
	</mat-autocomplete>
</mat-toolbar>
