.schema-tag {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 8px;
}

// ::ng-deep{
// 	app-search-bar {
// 		.mat-form-field-wrapper {
// 			padding-top: 8px !important;
// 			padding-bottom: 8px !important;
// 		}
// 	}
// }

::ng-deep {
	app-search-bar {
		width: 100%;


		mat-toolbar {
			width: 100%;
			padding-right: 0.5rem;

			mat-form-field {
				width: 100%;
			}
		}

	}

	
}