<mat-toolbar color="primary"
    class="header-bar">
	<div fxLayout="row wrap"
	    fxLayoutAlign="center start">
		<div fxFlex.gt-sm="690px"
		    fxFlex.gt-md="800px">
			<div class="mat-display-1"
			    translate
			    [innerHtml]="title"></div>
			<div class="mat-subheading-2"
			    translate
			    [innerHtml]="text"></div>
			<div>
				<span *ngFor="let button of buttons">
					<button mat-raised-button
					 	*ngIf="auth.isModerator() || auth.hasRole(button.role)"
					    [color]="button.color"
					    [routerLink]="button.routerLink">{{button.text}}</button>
				</span>
			</div>
		</div>
	</div>
</mat-toolbar>
