.skeleton-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
    width: auto;
    background-color: red;
}

.skeleton-logo {
    width: 200px;
    height: 136px;
    background-color: blue;
}