.skeleton-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32vh;
    width: auto;
    background-color: #d8d8d8;
}

.skeleton-logo {
    width: 200px;
    height: 136px;
    background-color: #828282;
}

.skeleton-nologo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 38vh;
    width: auto;
    background-color: #d8d8d8;
}
