<div class="skeleton-topic-wrap">
    <div class="skeleton-form">
        <app-skeleton-text-bar [isHeading]=true
            [width]="75"
            [isMarginLess]=true>
        </app-skeleton-text-bar>
    </div>
    <div class="skeleton-card-list">
        <div class="skeleton-card">
            <div class="skeleton-card-image">
            </div>
            <div class="skeleton-card-content">
                <app-skeleton-text-bar [isHeading]=true
                    [width]="115">
                </app-skeleton-text-bar>
                <app-skeleton-text-bar [isSubtitle]=true
                    [width]="145">
                </app-skeleton-text-bar>
            </div>
        </div>
        <div class="skeleton-card">
            <div class="skeleton-card-image">
            </div>
            <div class="skeleton-card-content">
                <app-skeleton-text-bar [isHeading]=true
                    [width]="115">
                </app-skeleton-text-bar>
                <app-skeleton-text-bar [isSubtitle]=true
                    [width]="145">
                </app-skeleton-text-bar>
            </div>
        </div>
    </div>
    <div class="skeleton-form">
        <app-skeleton-text-bar [isHeading]=true
            [width]="125"
            [isMarginLess]=true>
        </app-skeleton-text-bar>
    </div>
    <div class="skeleton-card-list">
        <div class="skeleton-card">
            <div class="skeleton-card-image">
            </div>
            <div class="skeleton-card-content">
                <app-skeleton-text-bar [isHeading]=true
                    [width]="115">
                </app-skeleton-text-bar>
                <app-skeleton-text-bar [isSubtitle]=true
                    [width]="145">
                </app-skeleton-text-bar>
            </div>
        </div>
    </div>
</div>