<app-loader [isLoading]="loadingState === 'loading' || isLoading"
    size="1.5"></app-loader>

<ng-container [ngSwitch]="loadingState">
    <div *ngSwitchCase="'loading'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasVote]=true>
        </app-skeleton-panel>
    </div>
    <div *ngSwitchCase="'error'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasVote]=true>
        </app-skeleton-panel>
    </div>
    <mat-toolbar color="primary"
        *ngSwitchCase="'complete'"
        [@fadeIn]=true
        class="header-info-panel">
        <div *ngIf="solution"
            class="image-container"
            fxLayout="column"
            [defaultImage]="handleImageUrl(solution.imageUrl, true)"
            [lazyLoad]="handleImageUrl(solution.imageUrl)">
            <app-admin-panel [item]="solution"
                model="Solution"
                path="/solutions"
                redirectRoute="solutions">
            </app-admin-panel>
            <div fxLayout="row"
                fxFlex></div>
            <!-- <div fxLayout="column"
				fxLayoutAlign="start start">
			</div> -->
            <div fxLayout="row wrap"
                fxLayoutAlign="center center">
                <div fxFlex.gt-sm="690px"
                    fxFlex.gt-md="800px">
                    <app-share-buttons></app-share-buttons>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap"
            class="description-bar"
            fxLayoutAlign="center center">
            <div fxFlex.gt-sm="690px"
                fxFlex.gt-md="800px">
                <div class="mat-display-1"
                    translate>{{solution.title}}</div>
                <span class="mat-body">This is a solution for:
                    <span *ngFor="let parent of solution.issues; let i = index">
                        <a mat-button
                            routerLink="/issues/{{parent._id}}">{{parent.title || parent.name | slice:0:30 }}</a>
                    </span>
                </span>
                <app-more-less [displayText]="solution.description"
                    maxHeight="200">
                </app-more-less>
                <mat-divider></mat-divider>
                <p></p>
                <div class="buttons">
                    <app-vote-buttons (vote)="onVote($event, 'Solution')"
                        [item]="solution">
                    </app-vote-buttons>
                </div>
            </div>
        </div>
    </mat-toolbar>
</ng-container>

<ng-container [ngSwitch]="loadingState">
    <div *ngSwitchCase="'loading'"
        class="container"
        fxLayout="column"
        fxLayoutAlign="center start">
        <div class="skeleton-card-list">
            <app-skeleton-text-bar [isSubtitle]=true
                [width]="150">
            </app-skeleton-text-bar>

            <app-skeleton-wide-card [showImage]=true
                [showContent]=true
                [showActions]=true
                [showChildren]=true>
            </app-skeleton-wide-card>
            <app-skeleton-wide-card [showImage]=true
                [showContent]=true
                [showActions]=true>
            </app-skeleton-wide-card>
            <app-skeleton-wide-card [showImage]=true
                [showContent]=true
                [showActions]=true>
            </app-skeleton-wide-card>
        </div>
    </div>
    <div *ngSwitchCase="'error'"
        class="container"
        fxLayout="column"
        fxLayoutAlign="center center">
        <div fxFlex.gt-sm="690px"
            fxFlex.gt-md="800px">
            <app-error-card model="Solution">
            </app-error-card>
        </div>
    </div>

    <div *ngSwitchCase="'complete'"
        class="container"
        [@fadeIn]=true
        fxLayout="row wrap"
        fxLayoutAlign="center start">
        <div *ngIf="solution"
            fxFlex.gt-sm="690px"
            fxFlex.gt-md="800px">
            <mat-accordion [style.margin-bottom.rem]="1"
                [style.display]="'block'"
                [multi]="true">
                <mat-expansion-panel class="accordion-header"
                    [expanded]="proposals.length && proposals.length > 0">
                    <mat-expansion-panel-header>
                        <h2 class="custom-headline no-margin"
                            [ngStyle]="{ 'margin-bottom': '0px', 'text-align': 'center', 'width': '100%'}">
                            Vote on Actions
                        </h2>
                    </mat-expansion-panel-header>
                    <app-sort-bar model="Action"></app-sort-bar>
                    <app-card-list path="/proposals"
                        [items$]="proposals$"
                        model="Action"
                        [showChildren]="false"
                        [showParent]="true"
                        parentPath="/solutions"
                        parentPropName="solutions"
                        (restore)="admin.onRestore($event, 'Proposal')"
                        (softDelete)="admin.onSoftDelete($event, 'Proposal')"
                        (delete)="admin.onDelete($event, 'Proposal')"
                        (vote)="onVote($event, 'Proposal')">
                    </app-card-list>
                </mat-expansion-panel>
                <mat-expansion-panel class="accordion-header"
                    [expanded]="!!suggestions.length && suggestions.length > 0">
                    <mat-expansion-panel-header>
                        <h2 class="custom-headline no-margin"
                            [ngStyle]="{ 'margin-bottom': '0px', 'text-align': 'center', 'width': '100%'}">
                            Community Suggestions
                        </h2>
                    </mat-expansion-panel-header>
                    <app-card-list path="/suggestions"
                        [items$]=suggestions$
                        model="Suggestion"
                        (restore)="admin.onRestore($event, 'Suggestion')"
                        (softDelete)="admin.onSoftDelete($event, 'Suggestion')"
                        (delete)="admin.onDelete($event, 'Suggestion')"
                        (vote)="onVote($event, 'Suggestion')">
                    </app-card-list>
                </mat-expansion-panel>
            </mat-accordion>
            <div *ngIf="isVerified">
                <mat-toolbar color="primary"
                    fxLayoutAlign="center center"
                    [style.margin-bottom]="'1rem'">
                    <h2 class="custom-headline center-text">Create your own
                        Suggestion</h2>
                </mat-toolbar>
                <app-make-suggestion parent="action"
                    (submitForm)="handleSuggestionSubmit($event)">
                </app-make-suggestion>
            </div>
        </div>
    </div>

</ng-container>
