.container {
	text-align: center;
	padding: 1em;
}

.group-label {
	text-align: left;
}

.mat-display-1 {
	margin-bottom: 64px !important;
}

.quill-editor-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

::ng-deep {
	.ql-container {
		height: 250px !important;
	}
}

.schema-name {
	background-color: #DCDCDC;
	font-size: 10px;
	padding: 4px;
	border-radius: 2px;
}
