<app-loader [isLoading]="isLoading"
    size="1.5"></app-loader>

<div class="container"
    fxLayoutAlign="center center">
	<mat-card fxFlex.gt-sm="60"
	    fxFlex="100">
		<form [formGroup]="suggestionForm"
		    fxLayout="column"
		    (ngSubmit)="onSave()"
		    novalidate>
			<mat-form-field>
				<!-- {{suggestionForm.status}} -->
				<input matInput
				    placeholder="Enter a name for the suggestion"
				    formControlName="title"
				    required>
				<mat-error *ngIf="suggestionForm.hasError('required', ['title'])">
					Title is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<mat-form-field class="example-chip-list">
				<mat-chip-list #chipList>
					<mat-chip *ngIf="selectedObject"
					    [selectable]="false"
					    [removable]="true"
					    (removed)="solutionRemoved(solution)">
						{{selectedObject.title || selectedObject.name}}
						<mat-icon matChipRemove>cancel</mat-icon>
					</mat-chip>
					<input placeholder="Select content to edit..."
					    #parentInput
					    formControlName="parent"
					    [matAutocomplete]="auto"
					    [matChipInputFor]="chipList"
					    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					    [matChipInputAddOnBlur]="false">
				</mat-chip-list>
				<mat-autocomplete #auto="matAutocomplete"
				    (optionSelected)="parentSelected($event)">
					<mat-option *ngFor="let object of filteredObjects | async"
					    [value]="object">
						<span class="schema-name">{{object.schema}}</span> {{object.title || object.name}}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<div class="quill-editor-container cf">
				<quill-editor formControlName="description"></quill-editor>
			</div>

			<button mat-flat-button
			    type="submit"
			    [disabled]="!suggestionForm.valid"
			    color="primary">Create</button>
		</form>
	</mat-card>
</div>
