<app-loader [isLoading]="isLoading"
    size="1.5"></app-loader>

<div class="container"
    fxLayoutAlign="center center">
    <mat-card fxFlex.gt-sm="60"
        fxFlex="100">


        <div *ngIf="!createOrEdit">
            <h2 class="mat-display-1">Thank you for your interest in the
                {{this.organization.name}} community, what would you like to do?
            </h2>

            <div>
                <button mat-flat-button
                    (click)="createOrEdit = 'create'"
                    color="primary">Suggest new content</button>
            </div>
            <div>
                <span class="mat-display-1">- or -</span>
            </div>
            <div>
                <button mat-flat-button
                    (click)="createOrEdit = 'edit'"
                    color="primary">Suggest an edit to existing content</button>
            </div>
        </div>

        <form *ngIf="createOrEdit"
            [formGroup]="suggestionForm"
            fxLayout="column"
            (ngSubmit)="onSave()"
            novalidate>

            <div *ngIf="suggestionForm.value.parent"
                fxLayout="row"
                fxLayoutGap="12px">
                <mat-form-field fxFlex="2 1 50%">
                    <mat-label>Parent Name</mat-label>
                    <input matInput
                        placeholder="Parent Field"
                        formControlName="parentTitle"
                        readonly>
                </mat-form-field>

                <mat-form-field fxFlex="1 1 50%">
                    <mat-label>Parent Type</mat-label>
                    <input matInput
                        placeholder="Parent Type"
                        formControlName="parentType"
                        readonly>
                </mat-form-field>
            </div>

            <span *ngIf="createOrEdit === 'edit'"
                class="mat-caption group-label">
                Hint: Start by searching for the content you'd like to suggest
                an edit to.
            </span>
            <mat-form-field *ngIf="createOrEdit === 'edit'"
                class="example-chip-list">
                <mat-chip-list #chipList>
                    <mat-chip *ngIf="selectedObject"
                        [selectable]="false"
                        [removable]="true"
                        (removed)="parentRemoved(solution)">
                        {{selectedObject.title || selectedObject.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Search for content to edit..."
                        #parentInput
                        formControlName="parent"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="false">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="parentSelected($event)">
                    <mat-option *ngFor="let object of filteredObjects | async"
                        [value]="object">
                        <span class="schema-name">{{object.schema}}</span>
                        {{object.title || object.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <span
                class='group-label'>{{createOrEdit == 'create' ? 'Enter a name for the suggestion' : 'Suggest a change to the name'}}</span>
            <span class="mat-caption group-label">Hint: Keep it short and
                snappy!</span>
            <ng-container *ngIf="createOrEdit =='create' || selectedObject">
                <mat-form-field>
                    <input matInput
                        placeholder="e.g Create new content for climate change"
                        formControlName="title"
                        required>
                    <mat-error
                        *ngIf="suggestionForm.hasError('required', ['title'])">
                        Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="!suggestionForm.value.parent">
                    <mat-label>Suggestion Type</mat-label>
                    <mat-select formControlName="type"
                        required>
                        <mat-option value="issue">
                            Issue
                        </mat-option>
                        <mat-option value="solution">
                            Solution
                        </mat-option>
                        <mat-option value="action">
                            Action
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <span class='group-label'>Suggestion Details</span>
                <span class="mat-caption group-label">
                    Hint: Please provide a general introduction to your
                    contribution. Aim for 250 words max.
                </span>
                <div class="quill-editor-container cf">
                    <quill-editor [modules]="{toolbar: false}" formControlName="description"></quill-editor>
                </div>
                <span class='group-label'>Links to sources</span>
                <span class="mat-caption group-label">
                    Hint: At least five third-party media sources (articles,
                    videos, podcast or memes) that relate to your contribution.
                </span>
                <mat-form-field class="example-chip-list">
                    <mat-chip-list #mediaChipList>
                        <mat-chip *ngFor="let media of mediaList"
                            [selectable]="false"
                            [removable]="true"
                            (removed)="mediaRemoved(media)">
                            {{media}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="Add related media..."
                            #mediaInput
                            [matChipInputFor]="mediaChipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="false"
                            (matChipInputTokenEnd)="mediaAdded($event)">
                    </mat-chip-list>
                </mat-form-field>

                <span class="mat-caption group-label">
                    Your contribution will be sent to us for fine tuning before
                    being added to the app. Don't worry, unless you plan on
                    offending others, your contribution will be posted as soon
                    as possible.
                </span>
                <div>
                    <!-- <button mat-stroked-button
					    (click)="resetForm()"
					    color="primary">Cancel</button> -->
                    <button mat-flat-button
                        fxFlex
                        type="submit"
                        [disabled]="!suggestionForm.valid"
                        color="primary">Create</button>
                </div>
            </ng-container>
        </form>
    </mat-card>
</div>
