<div class="item-card-row"
  fxFlex="100%"
  >
  <mat-card class="item-card error-card">
    <mat-card-content>
      <mat-card-title>
        <mat-icon aria-hidden="false" aria-label="Example home icon">error_outline</mat-icon>
        We've run into an issue.
      </mat-card-title>
      <mat-card-subtitle class="item-subtitle">
        We can't get what you are looking for. 
      </mat-card-subtitle>
      You can try refreshing the page otherwise try <a href="/contact">If you need a hand</a>.
    </mat-card-content>
  </mat-card>
  <app-skeleton-wide-card
    [showContent]=true
  >
  </app-skeleton-wide-card>	
</div>
