<div class="item-card-row"
    fxFlex="100%">
    <app-search-bar [error]="model"
        isVisible="true">
    </app-search-bar>
    <mat-card class="item-card error-card">
        <mat-card-content>
            <mat-card-title>
                <mat-icon aria-hidden="false"
                    aria-label="Example home icon">error_outline</mat-icon>
                We've run into an issue.
            </mat-card-title>
            <mat-card-subtitle class="item-subtitle">
                We can't get what you are looking for.
            </mat-card-subtitle>
            <div *ngIf="model">
                Go back to the <a
                    [routerLink]="modelLinks[model]">{{ model + 's' }}</a> list
                and take another look.
            </div>
            Try refreshing the page, or <a
                href="mailto:hello@newvote.org">contact
                us</a> if you need a hand
        </mat-card-content>
    </mat-card>
    <app-skeleton-wide-card [showContent]=true>
    </app-skeleton-wide-card>
</div>
