<div class="skeleton-card">
	<ng-template [ngIf]="showImage">
		<div class="skeleton-card-image">
	</div>
	</ng-template>
	<ng-template [ngIf]="showContent">
		<div class="skeleton-card-content">
			<app-skeleton-text-bar [isHeading]=true [width]="145">
			</app-skeleton-text-bar>
			<app-skeleton-text-bar [isSubtitle]=true [width]="220">
			</app-skeleton-text-bar>
			<app-skeleton-text-bar [isSubtitle]=true [width]="160">
			</app-skeleton-text-bar>
		</div>
	</ng-template>
	<ng-template [ngIf]="showActions">
		<div class="skeleton-action-container">
			<div class="skeleton-vote-container">
				<app-skeleton-text-bar [isSubtitle]=true [width]="60">
				</app-skeleton-text-bar>
				<div class="skeleton-button-row">
					<app-skeleton-button [width]="100" class="button-spacer">
					</app-skeleton-button>
					<app-skeleton-button [width]="100" class="button-spacer">
					</app-skeleton-button>
				</div>
			</div>
			<div class="skeleton-result-container">
				<app-skeleton-text-bar [isSubtitle]=true [width]="60">
				</app-skeleton-text-bar>
				<app-skeleton-button [style.padding-left]="'1rem'" [width]="200">
				</app-skeleton-button>
			</div>
		</div>
	</ng-template>
	<ng-template [ngIf]="showChildren">
		<div class="skeleton-child-container">
				<app-skeleton-text-bar [isSubtitle]=true [width]="80">
				</app-skeleton-text-bar>
				<app-skeleton-child-card [showImage]=true [showVote]=true>
				</app-skeleton-child-card>	
		</div>
	</ng-template>
</div>