<div fxLayout="column"
    fxLayoutGap="32px">
	<div class="item-card-row"
	    fxFlex="100%"
	    *ngFor="let item of items">
		<mat-card class="item-card"
		    routerLink="{{path}}/{{item._id}}">
			<div mat-card-image
			    class="image-container"
			    [style.background-image]="'url(' + item.imageUrl + ')'">
				<div class="button-panel"
				    *ngIf="auth.isAdmin()">
					<button color="accent"
					    mat-icon-button
					    (click)="$event.stopPropagation()"
					    routerLink='{{path}}/edit/{{item._id}}'>
    						<mat-icon aria-label="Edit the content">edit</mat-icon>
  						</button>
					<button color="warn"
					    mat-icon-button
					    (click)="onDelete(item, $event)">
    						<mat-icon aria-label="Delete content forever">delete_forever</mat-icon>
  						</button>
				</div>
			</div>
			<mat-card-content>
				<mat-card-title translate>
					<div class="truncate-container">
						<span class="truncate">{{item.title}}</span>
					</div>
					<mat-card-subtitle [innerHtml]="item.description"></mat-card-subtitle>
				</mat-card-title>
				<mat-divider></mat-divider>
			</mat-card-content>
			<mat-card-actions fxLayout="row">
				<button mat-raised-button
					[color]="item.votes.currentUser.voteValue === 1 ? 'accent' : null"
				    class="vote-button"
				    (click)="onVote(item, 1, $event)"><mat-icon>arrow_upward</mat-icon>VOTE UP</button>

				<div class="chart-container">
					<canvas baseChart
					    [data]="[item.votes.up, item.votes.down]"
					    [labels]="chartLabels"
					    [colors]="chartColors"
					    [options]="chartOptions"
					    chartType="pie"
					    (chartHover)="chartHovered($event)"
					    (chartClick)="chartClicked($event)"
					    height="100%"
					    width="100%">
					</canvas>
					<div class="chart-score" matTooltip="{{'For: ' + item.votes.up + ' Against: ' + item.votes.down}}">
						<span>{{item.votes.total == 0 ? 0 : item.votes.up / (item.votes.up + item.votes.down) * 100 | number: 0}}%</span>
					</div>
				</div>
				<div class="vote-total grey-circle" matTooltip="Total Votes">
					{{item.votes.total}}
				</div>
				<button mat-raised-button
					[color]="item.votes.currentUser.voteValue === -1 ? 'accent' : null"
				    class="vote-button"
				    (click)="onVote(item, -1, $event)"><mat-icon>arrow_downward</mat-icon>VOTE DOWN</button>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
