.mat-progress-spinner {
	display: inline-block;
	vertical-align: middle;
}

.message {
	margin-left: 0.5em;
}

.item-card-row {
	margin-bottom: 32px;
}

.item-card {

	.image-container {
		// min-height: 200px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	cursor: pointer;
}

.error-card {
	margin-bottom: 32px;
	border: 1px solid red;
	cursor: default;
}

.status {
	text-decoration: underline;
}

.button-panel {
	text-align: right;
	background-color: rgba(0, 0, 0, 0.6);
	border-top-right-radius: inherit;
	border-top-left-radius: inherit;
}

.truncate-container {
	max-width: 100%;
	overflow: hidden;

	.truncate {
		display: inline-block;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

mat-card-actions {
	padding: 16px 8px 8px;
	margin-bottom: 0 !important;
}

.child-container {
	margin-top: 32px;
}

.mini-proposal {
	padding: 8px;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.6);
	margin-bottom: 8px;

	.point-area {
		cursor: pointer;
	}
	.point-area:hover {
		background-color: white;
	}

	.likert-container {
		margin: 0 !important;
	}

	.mini-proposal-image {
		min-width: 88px;
		min-height: 88px;
		max-height: 88px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 8px;
		border-radius: 3px;
	}

	.mat-title {
		margin: 0px;
		padding: 8px !important;
	}

	.buttons {
		margin: 8px 8px 16px;
	}
}

.soft-deleted {
	border: 2px solid red;
}
