<div fxLayout="column"
    fxLayoutGap="32px"
    *ngIf="items">
	<div class="item-card-row"
	    fxFlex="100%"
	    *ngFor="let item of items">
		<mat-card class="item-card"
		    routerLink="{{path}}/{{item._id}}">
			<div mat-card-image
			    class="image-container"
			    [style.background-image]="'url(' + item.imageUrl + ')'">
				<div class="button-panel"
				    *ngIf="auth.isAdmin()">
					<button color="accent"
					    mat-icon-button
					    (click)="$event.stopPropagation()"
					    routerLink='{{path}}/edit/{{item._id}}'>
    						<mat-icon aria-label="Edit the content">edit</mat-icon>
  						</button>
					<button color="warn"
					    mat-icon-button
					    (click)="onDelete(item, $event)">
    						<mat-icon aria-label="Delete content forever">delete_forever</mat-icon>
  						</button>
				</div>
			</div>
			<mat-card-content>
				<mat-card-title translate>
					<div class="truncate-container">
						<span class="truncate">{{item.title}}</span>
					</div>
					<mat-card-subtitle [innerHtml]="item.description"></mat-card-subtitle>
				</mat-card-title>
				<mat-divider></mat-divider>
			</mat-card-content>
			<mat-card-actions>
				<app-vote-buttons [item]="item"
				    (vote)=onVote($event)>
				</app-vote-buttons>
			</mat-card-actions>
		</mat-card>
		<div *ngIf="showChildren">
			<span class="mat-headline">Vote on {{childName}}</span>
			<div *ngFor="let child of item[childPath]">
				<div class='mini-proposal'>
					<div fxLayout="column"
					    class="point-area">
						<div fxLayout="row"
						    fxLayoutAlign="start center">
							<div class="mini-proposal-image"
							    *ngIf="child.imageUrl"
							    [style.backgroundImage]="'url(' + child.imageUrl + ')'">
							</div>
							<span class="mat-title"
							    [innerHtml]="child.title"></span>
						</div>
						<app-vote-buttons class="buttons" [item]="child"
						    (vote)=onChildVote($event)>
						</app-vote-buttons>
					</div>
					<mat-divider></mat-divider>
				</div>
			</div>
		</div>
	</div>
</div>
