<div fxLayout="column"
    fxLayoutGap="32px"
    *ngIf="(items$ | async)?.length > 0; else empty">
    <div class="item-card-row"
        fxFlex="100%"
        *ngFor="let item of items$ | async; trackBy: trackByFn">
        <mat-card class="item-card"
            [ngClass]="{'soft-deleted': item.softDeleted}"
            routerLink="{{path}}/{{item.slug || item._id}}">
            <ng-container
                *ngIf="hasDefaultImage(item.imageUrl); then withImage; else noImage">
            </ng-container>
            <ng-template #withImage>
                <div mat-card-image
                    class="image-container"
                    [ngStyle]="{'min-height': item.imageUrl ? '200px' : '0px'}"
                    [defaultImage]="handleImageUrl(item.imageUrl, true)"
                    [lazyLoad]="handleImageUrl(item.imageUrl)">
                    <app-admin-panel
                        [path]="path"
                        [item]="item"
                        [model]="model"
                        isCard=true
                        >
                    </app-admin-panel>
                </div>
            </ng-template>
            <ng-template #noImage>
                <div class="no-image-container">
                    <app-admin-panel
                        [path]="path"
                        [item]="item"
                        [model]="model"
                        isCard=true
                        >
                    </app-admin-panel>
                </div>
            </ng-template>
            <mat-card-content>
                <div fxLayout="row">
                    <div *ngIf="item.type"
                        class="suggestion-image-container"
                        fxFlex
                        fxLayoutAlign="center center">
                        <img class="suggestion-image"
                            [defaultImage]="getSuggestionIcon(item.type, true)"
                            [lazyLoad]="getSuggestionIcon(item.type)" />
                    </div>
                    <mat-card-title fxFlex="1 1 80%"
                        class="text-left"
                        translate>
                        {{item.title}}
                        <mat-card-subtitle class="item-subtitle">
                            <!-- <p *ngIf="showParent">This is a {{model}} for:
                                <span
                                    *ngFor="let parent of item[parentPropName]; let i = index">
                                    <a (click)="$event.stopPropagation()"
                                        routerLink="{{parentPath}}/{{parent.slug || parent._id}}">{{parent.title || parent.name}}</a>
                                    <span
                                        *ngIf="item[parentPropName].length > 1 && i !== item[parentPropName].length - 1">,&nbsp;</span>
                                </span>
                            </p> -->
                            <p class="status"
                                *ngIf="item && item.status && item.status != null">
                                Suggestion
                                Status:
                                {{item.status === -1 ? 'Rejected' : item.status === 0 ? 'Pending' : 'Approved' }}
                                <p [innerHtml]="item.description"></p>
                        </mat-card-subtitle>
                    </mat-card-title>
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <app-vote-buttons [item]="item"
                    (vote)=onVote($event)>
                </app-vote-buttons>
            </mat-card-actions>
            <div *ngIf="showChildren && item[childPath].length" class="child-container">
                <span class="mat-card-title">{{childName}}</span>
                <div *ngFor="let child of item[childPath];trackBy: trackByFn">
                    <app-child-card
                        [item]="child"
                        [path]="childPath"
                    >
                    </app-child-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<ng-template #empty>
    <div fxLayout="column"
        fxLayoutGap="32px">
        <div class="item-card-row"
            fxFlex="100%">
            <mat-card class="empty-card-wrap">
                <div class="empty-card-blank">
                </div>
                <div class="empty-title-container">
                    <h2 class="mat-h2">{{ model }}s</h2>
                    <h4 class="mat-h4">There are no
                        {{ model + 's' | lowercase }} added by
                        {{ organizationName || 'this community'}} yet.</h4>
                </div>
            </mat-card>
        </div>
    </div>
</ng-template>
