:host {
    display: flex;
    flex-direction: column;
}

.community-wrap {
    display: block !important;
    overflow-y: auto;
    min-height: 100vh;
}

.toolbar {
    min-height: 64px;
}

.home-hero {
    min-height: 40vh;
    max-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/newvote-banner-no-text.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-logo {
    padding: 1.5rem;
    object-fit: contain;
    width: 100%;
    max-height: 450px;
    max-width: 450px;
}

.about-section {
    background-color: #FAFAFA;
    height: 100%;
    padding: 1rem;
}

.about-container {
    text-align: center;
}

.about-body-text {
    text-align: left;
}

.container {
    padding: 1rem;
}

.header-container {
    width: 100%;
    padding: 1rem;
    margin-bottom: 0;
}

.footer {
    display: block;
    background-color: #FAFAFA;
}

.no-margin {
    margin: 0;
}

.center-text {
    text-align: center;
}

.about-link {
    font-weight: 800;
    color: black;
    font-size: 1.4em;
}

.cta-button {
    padding: 1rem 3rem;
    font-size: 1.5em;
}

.mat-sidenav {
    min-width: 270px;
    max-width: 28%;
}

.search-button {
    margin-left: auto;
}

.card-grid {
    padding: 0.5rem;
}

.header-logo {
    display: block;
    max-width: 100px;
    max-height: 100px;
    min-width: 50px;
    min-height: 50px;
}


@media screen and (max-width: 600px) {
    .header-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .header-container {
        text-align: center
    }
}