<div class="community-wrap"
    fxFlexLayout="column"
    >
    <mat-toolbar class="toolbar"
        color="primary">
        <span>NewVote</span>
    </mat-toolbar>
    <div class="header-container">
        <h4 [ngStyle]="{ 'margin-bottom': '0' }" class="custom-display1">
            Select Your Community
        </h4>
    </div>
    <div 
        [ngStyle]="{ 'margin-bottom': 'auto'}"
        gdColumns.gt-md="1fr 1fr 1fr"
        gdColumns.gt-xs="1fr 1fr"
        class="card-grid"
        gdColumns.xs="1fr"
        gdRows="auto"
        gdGap="20px">
        <app-community-card
            *ngFor="let org of organizations$ | async;trackBy trackByFn"
            (click)="openCommunityURL($event, org.url)"
            [organization]="org"
            >
        </app-community-card>
    </div>
    <div class="footer container"
        fxLayout="row"
        fxLayoutAlign="center center">
        <div fxFlex.gt-sm="690px"
            fxFlex.gt-md="800px"
            fxLayout="column"
            fxLayoutAlign="center center">
            <h4 class="mat-subheading-1 ">Are you a leader that wants to start
                your own NewVote community? Click here</h4>
            <button mat-button
                mat-raised-button
                (click)="handleClick()"
                color="warn"
                class="mat-display-1">
                Start Your Community
            </button>
            <h4 class="mat-body-2"
                [style.margin]="0">Powered by NewVote</h4>
        </div>
    </div>
</div>

        <!-- <app-child-card
            *ngFor="let org of organizations$ | async;trackBy trackByFn"
            (click)="openCommunityURL($event, org.url)"
           
            [repCard]="false"
        ></app-child-card> -->
        <!-- <mat-card class="organization-card">
            <div mat-card-image
                class="organization-image"
                [style.background-image]="'url(' + (org.imageUrl || 'assets/solution-default.png') + ')'">
                <img *ngIf="org.iconUrl"
                    class="organization-icon"
                    [src]="org.iconUrl" />
            </div>
            <mat-card-content>
                <mat-card-title>
                    {{ org.name }}
                </mat-card-title>
                <mat-card-subtitle>
                    By {{ org.organizationName || ''}}
                </mat-card-subtitle>
            </mat-card-content>
        </mat-card> -->