.progress-container {
	position: fixed;
	top: 64px;
	height: 10px;
	width: 100%;
	z-index: 300;
}

.mat-progress-spinner {
  display: inline-block;
  vertical-align: middle;
}

.message {
  margin-left: 0.5em;
}
