/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
// stylelint-disable-next-line selector-max-universal
* {
	box-sizing: border-box;
}

body,
html {
	// height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}

.content {
	margin: 0 !important;
	padding: 0 !important;
  }

.mat-tab-body {
	padding-top: 1rem;
}

.item-wrapper {
	width: 100%;
	padding: 0.25rem 0.5rem;
  }