/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
// stylelint-disable-next-line selector-max-universal
* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow: auto;
	-webkit-overflow-scrolling: auto;
}
