<div class="sticky">
    <mat-toolbar color="primary"
        class="sticky-toolbar"
        ngClass.gt-sm="with-sidenav"
        fxLayout="row wrap">
        <ng-template [ngIf]="routeLevel !== 'child'"
            [ngIfElse]="childPage">
            <button class="menu-button"
                mat-icon-button
                (click)="handleToggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </ng-template>
        <ng-template #childPage>
            <button mat-icon-button
                (click)="handleBackClick()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>
        </ng-template>
        <span class="toolbar-title">{{title}}</span>
        <div fxFlex></div>
        <button mat-icon-button
            (click)="toggleSearch()">
            <mat-icon>search</mat-icon>
        </button>
        <button *ngIf="!isAuthenticated"
            class="account-create-menu-icon"
            mat-icon-button
            [matMenuTriggerFor]="loginMenu">
            <mat-icon color="warn">account_box</mat-icon>
        </button>
        <mat-menu #loginMenu="matMenu">
            <mat-list
                *ngIf="!organization || !organization.authType || organization.authType === 0">
                <a mat-menu-item
                    routerLink="/auth/login"
                    translate>Login</a>
                <mat-divider></mat-divider>
                <a mat-menu-item
                    routerLink="/auth/signup"
                    translate>Create Account</a>
            </mat-list>
            <mat-list *ngIf="organization && organization.authType === 1">
                <a mat-menu-item
                    routerLink="/auth/login"
                    translate>Login</a>
                <mat-divider></mat-divider>
                <a mat-menu-item
                    routerLink="/auth/login"
                    translate>Create Account</a>
            </mat-list>
        </mat-menu>
        <div *ngIf="isAuthenticated">
            <button mat-icon-button
                [matMenuTriggerFor]="userMenu"
                translate>
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <mat-list>
                    <mat-list-item>
                        <span translate>Logged in
                            as</span>&nbsp;<b>{{username}}</b>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <a mat-menu-item
                        *ngIf="query.isOwner() && organization"
                        routerLink="/communities/edit/{{organization._id}}"
                        translate>Edit Community</a>
                    <mat-divider></mat-divider>
                    <a mat-menu-item
                        *ngIf="isRep && organization"
                        routerLink="/reps/edit/{{userId}}"
                        translate>Edit Profile</a>
                    <mat-divider></mat-divider>
                </mat-list>
                <button mat-menu-item
                    (click)="logout()"
                    translate>Logout</button>
            </mat-menu>
        </div>
        <div *ngIf="!isAuthenticated && (!this.organization || !this.organization.authType || this.organization.authType === 0)"
            class="hide-login-menu">
            <button mat-stroked-button
                class="border-override"
                routerLink="/auth/login">Sign In</button>
            <button mat-flat-button
                color="warn"
                routerLink="/auth/signup">Create Account</button>
        </div>
        <div *ngIf="!isAuthenticated && (this.organization && this.organization.authType === 1)"
            class="hide-login-menu">
            <button mat-stroked-button
                class="border-override"
                routerLink="/auth/login">Sign In</button>
            <button mat-flat-button
                color="warn"
                routerLink="/auth/login">Create Account</button>
        </div>
    </mat-toolbar>

    <app-search-bar class="sticky-search"
        ngClass.gt-sm="with-sidenav top-bar-height-lg"
        ngClass.lt-md="top-bar-height-sm"
        [isVisible]="showSearch"
        (closeSearch)="toggleSearch()"></app-search-bar>

    <!--
    <mat-toolbar color="warn"
        *ngIf="showVerify"
        class="sticky-verify"
        ngClass.gt-sm="with-sidenav top-bar-height-lg"
        ngClass.lt-md="top-bar-height-sm">
        <span class="mat-body">Your account is not yet verified</span>
        <div fxFlex></div>
        <button mat-stroked-button
            routerLink="/auth/verify">Verify Now</button>
        <button mat-icon-button
            (click)="hideVerify = true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar> -->

    <mat-toolbar color="warn"
        *ngIf="!!showVerify && !hideVerify && delayPassed"
        class="community-verify"
        ngClass.gt-sm="with-sidenav top-bar-height-lg"
        ngClass.lt-md="top-bar-height-sm">
        <span class="mat-body">Your account is not yet verified with this
            community.</span>
        <div fxFlex></div>
        <button mat-stroked-button
            (click)="handleVerify()">Verify</button>
        <button mat-icon-button
            (click)="hideVerify = true">
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar>
</div>
