<!-- <div fxLayoutAlign="center center">
    <div fxFlex.lt-sm="80%"
        fxFlex.sm="600px"
        fxFlex.gt-sm="690px"
        fxFlex.gt-md="800px">
        <div [style.width.%]="100"
            fxLayout="column">
            <app-progress-bar [steps]="3">
            </app-progress-bar>
            <app-progress-form (updateProgressState)="updateProgress($event)">
            </app-progress-form>
            <app-progress-feed>
            </app-progress-feed>
        </div>
    </div>
</div> -->
