:host {
  display: flex;
  flex: 1;
  // overflow: hidden;
}

::ng-deep {
	.mat-display-1 {
		margin-bottom: 16px !important;
	}
}

::ng-deep .mat-chip {
		max-width: 300px !important;
}

.content {
	margin: 0 !important;
	padding: 0 !important;
  }
