<ng-container *ngIf="centerCards; else startBlock">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="center stretch">
        <app-grid-card
            fxFlex="1 1 30"
            fxFlex.sm="1 1 45"
            fxFlex.lt-sm="100"
            *ngFor="let item of getItems();trackBy: trackByFn"
            [item]="item"
            [model]="model"
            [path]="path"
            [titleCard]="titleCard"
            >
        </app-grid-card>
    </div>
</ng-container>

<ng-template #startBlock>
    <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayoutAlign="start stretch">
        <app-grid-card
            fxFlex="1 1 30"
            fxFlex.sm="1 1 45"
            fxFlex.lt-sm="100"
            *ngFor="let item of getItems();trackBy: trackByFn"
            [item]="item"
            [model]="model"
            [path]="path"
            [titleCard]="titleCard"
            >
        </app-grid-card>
    </div>
</ng-template>