<div fxLayout="column">
	<div fxLayout="row wrap"
	    fxLayoutAlign="start start"
		fxLayoutAlign.lt-sm="start stretch"
	    fxLayoutGap="32px">
		<div class="item-card-row"
		    fxFlex="0 0 calc(33.3% - 32px)"
		    fxFlex.lt-sm="0 0 100%"
		    *ngFor="let item of getItems">
			<mat-card class="item-card"
				[ngClass]="{'soft-deleted': item.softDeleted}"
			    routerLink="{{path}}/{{item._id}}">
				<div mat-card-image
				    class="image-container"
				    [defaultImage]="imageToPlaceholder(item.imageUrl)"
					[lazyLoad]="item.imageUrl ?
						replaceImageUrl(item.imageUrl)
						: ''">
					<div class="button-panel"
					    *ngIf="auth.isModerator(item)">
						<button color="accent"
							matTooltip="Edit the item"
						    mat-icon-button
						    (click)="$event.stopPropagation()"
						    routerLink='{{path}}/edit/{{item._id}}'>
    						<mat-icon aria-label="Edit the content">edit</mat-icon>
  						</button>
						<button color="accent"
							matTooltip="Restore the item"
							*ngIf="item.softDeleted"
						    mat-icon-button
						    (click)="onRestore(item, $event)">
    						<mat-icon aria-label="Restore content">restore</mat-icon>
  						</button>
						<button color="accent"
							matTooltip="Remove the item"
							*ngIf="!item.softDeleted"
						    mat-icon-button
						    (click)="onSoftDelete(item, $event)">
    						<mat-icon aria-label="Delete content forever">delete</mat-icon>
  						</button>
						<button color="warn"
							matTooltip="Delete the item forever"
						    mat-icon-button
						    (click)="onDelete(item, $event)"
							*ngIf="auth.isAdmin(item)">
    						<mat-icon aria-label="Delete content forever">delete_forever</mat-icon>
  						</button>
					</div>
				</div>
				<ng-container *ngIf="!titleCard; then noTitle; else isTitle">
				</ng-container>
				<ng-template #noTitle>
					<mat-card-content>
						<mat-card-title translate>
							<div class="truncate-container">
								<span class="truncate">{{item.name}}</span>
							</div>
						</mat-card-title>
					</mat-card-content>
				</ng-template>
				<ng-template #isTitle>
					<mat-card-content>
						<mat-card-title class="title-card-header">
							{{item.name}}
						</mat-card-title>
						<div class="title-card-subheader" [innerHtml]="item.description">
						</div>
					</mat-card-content>
				</ng-template>
			</mat-card>
		</div>
	</div>
</div>
