.skeleton-text-container {
    text-align: center;
    color: white;
}

.skeleton-logo {
    background-color: white;
    margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: 188px;
	border: 1px solid black;
}

.skeleton-title {
	margin-top: 1rem;
	background-color: white;
	height: 50px;
	width: 320px;
	margin-bottom: 0.5rem;
	border: 1px solid black;
}

.skeleton-subtitle {
	margin-top: 0.5rem;
	background-color: white;
	width: 155px;
    height: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.25rem;
	border: 1px solid black;
}

.skeleton-cta {
	width: 100px;
	height: 35px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

.container {
	padding: 2em;
}

.container ~ .container {
	padding-top: 2em;
}

.container:last-of-type {
	padding-bottom: 2em;
}

.hero-image-container {
	position: relative;
	// background-color: blue;
	height: 48vh;
	min-height: 440px;
}

.community-container {
	text-align: center;
}

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	height: 48vh;
	min-height: 440px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(rgba(0, 0, 0, 0.0) 40%,rgba(0, 0, 0, 1.0) 65%);
		opacity: 0.25;
	}
}

.hero-text-container {
	text-align: center;
	color: white;

	.mat-display-2 {
		margin-bottom: 0 !important;
	}
}

.no-margin {
	margin: 0;
}