.avatar {
    max-width: 180px;
    object-fit: contain;
    object-position: center;
}

.line-clamp {
    max-height: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

.button-panel {
    text-align: right;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.no-margin {
    margin: 0;
}