<div [style.width.%]="100"
    fxLayoutAlign="flex-end center">
    <div>
        <button *ngIf="order === 'ASCENDING'"
            mat-icon-button
            disabled
            (click)="toggleOrder()"
            aria-label="Sorting Direction">
            <mat-icon>arrow_upward</mat-icon>
        </button>
        <button *ngIf="order === 'DESCENDING'"
            mat-icon-button
            disabled
            (click)="toggleOrder()"
            aria-label="Sorting Direction">
            <mat-icon>arrow_downward</mat-icon>
        </button>
    </div>

    <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select [(ngModel)]="sort"
            (selectionChange)="handleSort($event)">
            <mat-option *ngFor="let option of orderOptions"
                [value]="option.value">{{ option.display }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
