.container {
	text-align: center;
	padding: 1em;
}

.image-select {
	margin-bottom: 25px;

	.image-preview {
		width: 100%;
		max-height: 250px;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
		
		img {
			max-width: 100%;
			max-height: 250px;
			height: auto;
		}
	}
}

.image-wrap {
	width: 100%;
	border: 1px solid lightgrey;
	padding: 0.25rem;
}

.quill-editor-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

::ng-deep {
	.ql-container {
		height: 250px !important;
	}
}
