<!-- <app-header-bar 
    [headerTitle]="headerTitle"
    [headerText]="headerText">
</app-header-bar> -->
 
 <mat-toolbar *ngIf="auth.isModerator()" fxLayout="row" fxLayoutAlign="start center">
        <div
            fxFlex.lt-sm="100%"
            fxFlex.sm="600px"
            fxFlex.gt-sm="690px"
            fxFlex.gt-md="800px"
            
            >
            <button mat-icon-button matTooltip="Manage Reps"
                (click)="openDialog()">
                <mat-icon aria-label="Manage Reps">add</mat-icon>
            </button>
            Open Reps Menu
        </div>
 </mat-toolbar>

 <div class="container">
    <div class="container"
        fxLayout="row wrap"
        fxLayoutAlign="start start"
        fxLayoutAlign.lt-sm="start start"
        >
        <div 
            fxFlex.lt-md="100%"
            fxFlex.md="100%"
            fxFlex.gt-md="800px"
            >
            <!-- <div class="form-wrap"> -->
            <mat-form-field class="example-chip-list" fxFill>
                <mat-chip-list #chipList>
                    <mat-chip *ngFor="let tag of tags" 
                        [selectable]="false"
                        (removed)="tagRemoved(tag)"
                        [removable]="true">
                        {{tag}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Filter Tags" #tagInput
                        [formControl]="tagCtrl" [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="tagSelected($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>  

    <ng-container *ngIf="!tags.length; else elseBlock">
        <div fxLayout="column">
            <div class="pointer-card container" *ngFor="let tag of allTags" fxLayoutGap="16px" fxLayout="column">
                 <div 
                     fxLayoutAlign="start start"
                     fxLayoutAlign.lt-sm="start start"
                     [style.margin]="0"
                     >
                     <div class="tag-header">
                         <h2 class="custom-headline no-margin">
                             {{tag}}
                         </h2>
                     </div>
                 </div>
                 <div>
                     <mat-divider></mat-divider>
                 </div>
                 <div  
                     gdColumns="50% 50%"
                     gdAlignColumns="start"
                     gdAlignRows="start"
                     gdAuto="row"
                     gdGap="16px"
                     gdColumns.lt-sm="100%"
                     gdColumns.md="50% 50%"
                     gdColumns.lg="32% 32% 32%"
                     gdColumns.gt-lg="repeat( auto-fill, minmax(350px, 1fr) )"
                     >
                    <!-- <app-rep-card 
                        *ngFor="let rep of filterReps(allReps, tag)"
                        (delete)="admin.onDelete($event, 'Rep')"
                        path="/reps" 
                        [tags]="organization.representativeTags"
                        [item]="rep">
                    </app-rep-card> -->
                    <app-rep-card-v2
                        *ngFor="let rep of filterReps(allReps, tag)"
                        [rep]="rep"
                        (delete)="admin.onDelete($event, 'Rep')"
                        path="/reps" 
                        [tags]="organization.representativeTags"
                        >
                    </app-rep-card-v2>
                 </div>
            </div> 
        </div>
        
        <!-- <div 
            class="reps-container" 
            gdColumns="50% 50%"
            gdAlignColumns="start"
            gdAlignRows="start"
            gdAuto="row"
            gdGap="30px"
            gdColumns.lt-sm="100%"
            gdColumns.md="325px 325px"
            gdColumns.lg="30% 30% 30%"
            gdColumns.gt-lg="375px 375px 375px"
        >
            <app-rep-card 
                *ngFor="let rep of allReps"
                (delete)="admin.onDelete($event, 'Rep')"
                path="/reps" 
                [tags]="organization.representativeTags"
                [item]="rep">
            </app-rep-card>

        </div> -->
    </ng-container>
    <ng-template #elseBlock>
        <div fxLayout="column">
           <div class="pointer-card container" *ngFor="let tag of tags" fxLayoutGap="16px" fxLayout="column">
                <div 
                    fxLayoutAlign="start start"
                    fxLayoutAlign.lt-sm="start start"
                    [style.margin]="0"
                    >
                    <div class="tag-header">
                        <h2 class="custom-headline no-margin">
                            {{tag}}
                        </h2>
                    </div>
                </div>
                <div>
                    <mat-divider></mat-divider>
                </div>
                <div  
                    gdColumns="50% 50%"
                    gdAlignColumns="start"
                    gdAlignRows="start"
                    gdAuto="row"
                    gdGap="16px"
                    gdColumns.lt-sm="100%"
                    gdColumns.lt-md="50% 50%"
                    gdColumns.md="50% 50%"
                    gdColumns.lg="31% 31% 31%"
                    gdColumns.gt-lg="repeat( auto-fill, minmax(350px, 1fr) )"
                    >
                    <!-- <app-rep-card 
                        *ngFor="let rep of filterReps(allReps, tag)"
                        (delete)="admin.onDelete($event, 'Rep')"
                        path="/reps" 
                        [tags]="organization.representativeTags"
                        [item]="rep">
                    </app-rep-card> -->
                    <app-rep-card-v2
                        *ngFor="let rep of filterReps(allReps, tag)"
                        [rep]="rep"
                        (delete)="admin.onDelete($event, 'Rep')"
                        path="/reps" 
                        [tags]="organization.representativeTags"
                        >
                    </app-rep-card-v2>
                </div>
           </div> 
       </div>
    </ng-template>    
 </div>
 
