 <mat-toolbar *ngIf="auth.isModerator()">
    <div class="example-button-row">
        <button mat-icon-button matTooltip="Manage Reps" (click)="openDialog()">
          <mat-icon aria-label="Manage Reps">add</mat-icon>
        </button>
        Open Reps Menu
    </div>
 </mat-toolbar>
 <ng-container 
    *ngIf="reps && reps.length;
    else skeletonBlock"
    >
    <div class="reps-container" 
        fxLayout="row" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="16px" 
        fxLayoutAlign.lt-sm="center center">
        <div 
            *ngFor="let rep of reps"
            fxFlex="400px">
            <app-rep-card
                (delete)="admin.onDelete($event, 'Rep')"
                path="/reps"
                [item]="rep"
                >
            </app-rep-card>
        </div>
    </div>
</ng-container>
 <ng-template #skeletonBlock>
    <!-- <div class="reps-container" 
        fxLayout="row" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="16px" 
        fxLayoutAlign.lt-sm="center center">
        <div 
            fxFlex="400px">
            <app-skeleton-rep-card></app-skeleton-rep-card>
        </div>
    </div> -->

    <div class="reps-container" 
        fxLayout="row" 
        fxLayout.lt-sm="column" 
        fxLayoutGap="16px" 
        fxLayoutAlign.lt-sm="center center">
        <div 
            fxFlex="400px">
            <app-rep-card></app-rep-card>
        </div>
    </div>
 </ng-template>
