:host {
  max-width: 100vw;
  // overflow: hidden;
}

.reps-container {
  padding: 1rem;
  // overflow: hidden;
  // max-width: 680px;
  // margin-left: auto;
  // margin-right: auto;
}

.tag-header {
  margin-bottom: 0;
}

.pointer-card {
  cursor: pointer;
}

.form-wrap {
  width: 60%;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding: 0.5rem;
}

.no-margin {
  margin: 0;
}

::ng-deep {
  .mat-divider {
    border-top-width: 2px;
  }
}