<div fxLayout="row wrap"
    class="container">
	<div>
		<button mat-raised-button
		    [color]="(item.votes.currentUser && item.votes.currentUser.voteValue === 1) ? 'accent' : null"
		    class="vote-button"
		    (click)="onVote(item, 1, $event)"><mat-icon>arrow_upward</mat-icon>VOTE UP</button>

		<button mat-raised-button
		    [color]="(item.votes.currentUser && item.votes.currentUser.voteValue === -1) ? 'accent' : null"
		    class="vote-button"
		    (click)="onVote(item, -1, $event)"><mat-icon>arrow_downward</mat-icon>VOTE DOWN</button>
	</div>
	<div class="chart-container">
		<canvas class="chart-canvas"
		    baseChart
		    [colors]="chartColors"
		    [options]="chartOptions"
		    [chartType]="chartType"
			[datasets]="dataSetOverride"
		    height="40px">
		</canvas>
		<div class="chart-score"
		    fxLayout="row">
			<span>{{item.votes.up}} Votes</span>
			<span fxFlex></span>
			<span>{{item.votes.down}} Votes</span>
		</div>
	</div>
