::ng-deep {
	.vote-button-dark.mat-primary {
		background-color: #142C45 !important;
	}
}

.chart-container {
	position: relative;
	height: 40px !important;
	z-index: 100;
}

.chart-score {
	position: relative;
	height: 40px;
	width: 100%;
	font-size: 14px;
	color: white;
	border-radius: 5px;
	// border: 1px solid #212121;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.grey-circle {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
}

.votes-for {
	color: white;
	background-color: #0277bd;
	border-radius: 5px;
}

.vote-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0 0.5rem;
}