<div fxLayout="row wrap"
    class="container"
	fxFlex>
	<div fxFlex="100"
	    fxFlex.gt-xs="250px"
	    fxLayout="column">
		<span class="mat-body-2">HAVE YOUR SAY</span>
		<div fxLayout="row">
			<button mat-raised-button
			    [color]="(item.votes.currentUser && item.votes.currentUser.voteValue === 1) ? 'warn' : 'primary'"
			    class="vote-button"
				color="primary"
			    (click)="onVote(item, 1, $event)"><mat-icon>arrow_upward</mat-icon><span fxHide="true" fxShow.gt-xs="true">VOTE UP</span></button>

			<button mat-raised-button
			    [color]="(item.votes.currentUser && item.votes.currentUser.voteValue === -1) ? 'warn' : 'primary'"
			    class="vote-button vote-button-dark"
				color="primary"
			    (click)="onVote(item, -1, $event)"><mat-icon>arrow_downward</mat-icon><span fxHide="true" fxShow.gt-xs="true">VOTE DOWN</span></button>
		</div>
	</div>
	<div fxFlex></div>
	<div fxLayout="column"
		fxFlex="0 1 150px"
		fxFlex.gt-xs="1 1 50%">
		<span class="mat-body-2">RESULTS</span>
		<div class="chart-container">

			<canvas class="chart-canvas"
			    baseChart
			    [colors]="chartColors"
			    [options]="chartOptions"
			    [chartType]="chartType"
			    [datasets]="dataSetOverride"
			    height="40px">
		</canvas>
			<div class="chart-score"
			    fxLayout="row"
				fxFlex>
				<span>{{item.votes.up}} Votes</span>
				<span fxFlex></span>
				<span>{{item.votes.down}} Votes</span>
			</div>
		</div>
	</div>
