.container {
  padding: 1em;
}

.text-left {
  text-align: left;
}

.image-select {
  margin-bottom: 25px;

  .image-preview {
    width: 100%;
    max-height: 250px;

    img {
      max-width: 100%;
      max-height: 250px;
      height: auto;
    }
  }
}

.error {
  color: crimson;
}

.quill-editor-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

// .community-text {
// 	margin-left: 1rem;
// }

.small-margin {
  margin: 0.5rem 0;
}

::ng-deep {
  .ql-container {
    height: 250px !important;
  }
}

.section-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

.section-top {
  padding-top: 1rem;
  border-top: 1px solid lightgray;
}

.section-bottom {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}
