<app-loader [isLoading]="isLoading"
    size="1.5"></app-loader>
<div class="container"
    fxLayoutAlign="center center">
    <mat-card fxFlex.gt-sm="60"
        fxFlex="100">
        <form [formGroup]="profileForm"
            fxLayout="column"
            (ngSubmit)="onSave()"
            novalidate>

            <mat-form-field>
                <input matInput
                    placeholder="Enter a display name for your profile."
                    formControlName="displayName"
                    required>
                <mat-error>
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <div [style.margin-bottom]="'0.5rem'" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="column" fxLayoutAlign="flex-start flex-start">
                    <h3 [style.margin-bottom]="'0'" class="mat-subheading-2">Subscriptions</h3>
                    <p class="mat-small error" *ngIf="!isGranted">Notifications are disabled on this device.</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="flex-end flex-end">
                    <mat-icon [style.margin-bottom]="'1rem'" matTooltip="By activating you will be asked by your device if you want to receive notifications from NewVote. You'll be able to customize what issues you'd like to receive updates from and also whether you would like to receive updates from the community as a whole. This can be turned off at any time by deactivating the toggle.">help</mat-icon>
                    <mat-slide-toggle [disabled]="!this.isEnabled || disableNotificationSlideToggle" [checked]="subscriptionsActive === 'ACCEPTED' && isGranted" (change)="handleSubscriptionToggle($event)"></mat-slide-toggle>
                    <!-- <p class="mat-caption">Allow notifications from NewVote</p> -->
                </div>

                <!-- <button type="button" mat-stroked-button color="warn" (click)="togglePicker()">{{ enablePicker ? 'Unsubscribe from Notifications' : 'Subscribe To Notifications' }}</button> -->
            </div>

           <app-issue-picker
                *ngIf="isEnabled && isGranted"
                [parentForm]="profileForm"
                [user]="userData"
                [isEnabled]="subscriptionsActive"
                [organizations]="organizations"
                [issues]="issuesObj"
           >
           </app-issue-picker>

           <button mat-flat-button
            type="submit"
            [disabled]="!profileForm.valid || isLoading"
            color="primary">Update</button>
        </form>
    </mat-card>
</div>
