<div class="button-container">
	<!--Set color and icon-->
	<button mat-icon-button
	    shareButton="facebook"
	    [style.backgroundColor]="share.prop.facebook.color"
	    [style.color]="'white'"
	    [url]="getUrl()">
		<fa color="white"
		    name="facebook"
		    size="1x"></fa>
	</button>
	<button mat-icon-button
	    shareButton="twitter"
	    [style.backgroundColor]="share.prop.twitter.color"
	    [style.color]="'white'"
	    url="getUrl()">
		<fa color="white"
		    name="twitter"
		    size="1x"></fa>
	</button>
	<button mat-icon-button
	    shareButton="google"
	    [style.backgroundColor]="share.prop.google.color"
	    [style.color]="'white'"
	    [url]="getUrl()">
		<fa color="white"
		    name="google"
		    size="1x"></fa>
	</button>
	<button mat-icon-button
	    shareButton="linkedin"
	    [style.backgroundColor]="share.prop.linkedin.color"
	    [style.color]="'white'"
	    [url]="getUrl()">
		<fa color="white"
		    name="linkedin"
		    size="1x"></fa>
	</button>
	<button mat-icon-button
	    shareButton="reddit"
	    [style.backgroundColor]="share.prop.reddit.color"
	    [style.color]="'white'"
	    [url]="getUrl()">
		<fa color="white"
		    name="reddit-alien"
		    size="1x"></fa>
	</button>
	<button mat-icon-button
		matTooltip="Copy to clipboard"
	    [style.backgroundColor]="'grey'"
	    [style.color]="'white'"
	    ngxClipboard
	    [cbContent]="getUrl()">
		<fa color="white"
		    name="paperclip"
		    size="1x"></fa>
	</button>
</div>
