.skeleton-button {
    cursor: none;
    outline: 0;
    border: none;
    display: inline-block;
    margin: 0;
    height: 35px;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    background-color: lightgrey;
}