<div
    fxFlex>
    <div *ngFor="let notification of notifications"
        class="progress-item"
        [ngClass]="{ 'soft-delete': notification.softDeleted }"
        fxLayout="column"
        fxLayoutAlign="center flex-start"
        [style.position]="'relative'"
        >
        <app-admin-panel
            class="notification-panel"
            model="Notification"
            [item]="notification"
            isCard="true"
            (toggleEdit)="handleNotification($event)"
            ></app-admin-panel>
        <div fxLayout="row-reverse" >
            <div class="block-quote"></div>
            <div>
                <div class="mat-title main-content" [innerHTML]="notification.description"></div>
                <div class="feed-footer"
                    fxFlexAlign="baseline" fxLayout="row">
                    <p class="mat-subheading-2 date-text">
                        <strong>{{ handleDisplayName(notification) }}</strong>
                        <span class="position-text">{{ handlePosition(notification) }}</span>
                        {{ createDate(notification.created_at) | amLocal | amDateFormat: 'Do MMMM YYYY' }}
                    </p>
                </div>
            </div>     
        </div> 
    </div>
</div>
