.container {
    width: 100%;
    padding: 2rem;
}

.progress-item {
    width: 100%;
    border: 1px solid lightgray;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}

.feed-footer {
    justify-self: end;

    p {
        margin-bottom: 0;
    }
}

.main-content {
    p {
        margin: 0;
    }
}

.block-quote {
    margin-top: 0.5rem;
    margin-right: 1rem;
}
.block-quote:before {
    content: '\201C';
    font-size: 5rem;
    // transform: translate(-50%, -50%);
    width: 3rem;
    height: 2rem;
    color: black;
    text-align: center;
    font-family: 'Proxima-Nova';
}

.date-text {
    color: lightgray;

    strong {
        color: black;
    }
}

.mat-title {
    p {
        margin-top: 0;
    }
}
