<app-header-bar [title]="headerTitle"
    [text]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="isLoading"
    size="1.5">
</app-loader>

<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<div *ngIf="auth.isAuthenticated()">
			<!-- user is logged in -->
			<p class="mat-body">
				Thank you for your interest in this community, we are currently handling leadership claims on a case by case basis. Before starting please make sure you have sufficient evidence ready.
			</p>
			<p class="mat-body">
				To start the process, use the following link and make sure to include as much detail as possible.
			</p>
			<p *ngIf="organization">
				<a mat-raised-button
					color="warn"
				    href="mailto:dion@newvote.org?subject=Leadership Claim for {{organization.name}}">Claim {{organization.name}}</a>
			</p>
		</div>
		<div *ngIf="!auth.isAuthenticated()">
			<!-- user is not logged in -->
			<p class="mat-body">
				To claim a community you will need to have created an account. Please either sign up or sign in to continue the claim process.
			</p>
		</div>
	</div>
