/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Import the quill css for ngx-quill
 @import '~quill/dist/quill.core.css';
 @import '~quill/dist/quill.bubble.css';
 @import '~quill/dist/quill.snow.css';

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/dist/fonts/material-icons.css";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

@import 'app/shared/more-less/more-less.component.theme';
@include more-less-fade-theme($app-theme);

@import 'app/shared/header-bar/header-bar.component.theme';
@include header-bar-theme($app-theme);

@import 'app/shared/themes/header-info-panel.component.theme';
@include header-info-panel($app-theme);

// Theme customization
@import "theme/theme";

$app-typography: mat-typography-config(
   $font-family: '"Source Sans Pro", "Helvetica Neue", sans-serif',
   $display-4:     mat-typography-level(112px, 112px, 600),
   $display-3:     mat-typography-level(56px, 56px, 600),
   $display-2:     mat-typography-level(45px, 48px, 600),
   $display-1:     mat-typography-level(34px, 40px, 600),
   $headline:      mat-typography-level(24px, 32px, 600),
   $title:         mat-typography-level(20px, 32px, 600),
   $subheading-2:  mat-typography-level(16px, 28px, 300),
   $subheading-1:  mat-typography-level(15px, 24px, 300),
   $body-2:        mat-typography-level(14px, 24px, 600),
   $body-1:        mat-typography-level(14px, 20px, 300),
   $caption:       mat-typography-level(12px, 20px, 300),
   $button:        mat-typography-level(14px, 14px, 300),
	 // Line-height must be unit-less fraction of the font-size.
   $input:         mat-typography-level(16px, 1.25, 300)
 );

@include angular-material-typography($app-typography);
