<app-loader [isLoading]="isLoading"
	size="1.5"></app-loader>
<div class="container"
    fxLayoutAlign="center center">
	<mat-card fxFlex.gt-sm="60"
	    fxFlex="100">
		<form [formGroup]="topicForm"
		    fxLayout="column"
		    (ngSubmit)="onSave()"
		    novalidate>
			<mat-form-field>
				<!-- {{topicForm.status}} -->
				<input matInput
				    placeholder="Enter a name for the topic"
				    formControlName="name"
				    required>
				<mat-error *ngIf="topicForm.hasError('required', ['name'])">
					Email is <strong>required</strong>
				</mat-error>
			</mat-form-field>

			<div class="quill-editor-container cf">
				<quill-editor formControlName="description"></quill-editor>
			</div>

			<input type="file"
			    id="fileupload"
			    #fileInput
			    ng2FileSelect
			    [uploader]="uploader"
			    (change)="onFileChange($event)"
			    hidden
			    autoComplete="off" />

			<input matInput
			    hidden
			    placeholder="Enter a name for the topic"
			    formControlName="imageUrl"
			    required>

			<div class="image-select"
			 fxLayout="column"
			 fxFlex
			 fxLayoutAlign="center center">
				<div fxLayout="row">
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="fileInput.click()">Select Image</button>
				<button mat-flat-button
				    type="button"
				    color="primary"
				    (click)="onResetImage()">Reset Image</button>
			   </div>
				<div class="image-preview"
				    *ngIf="imageUrl">
					<img [src]="imageUrl" />
				</div>
				<mat-hint>Images look best at approximately 200x200 pixels</mat-hint>
			</div>

			<button mat-flat-button
			    type="submit"
			    [disabled]="!topicForm.valid || isLoading"
			    color="primary">Update</button>
		</form>
	</mat-card>
</div>
