<app-loader [isLoading]="loadingState === 'loading' || isLoading"
    size="1.5"></app-loader>

<ng-container [ngSwitch]="loadingState">
    <div *ngSwitchCase="'loading'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasVote]=true>
        </app-skeleton-panel>
    </div>
    <div *ngSwitchCase="'error'">
        <app-skeleton-header [noLogo]=true>
        </app-skeleton-header>
        <app-skeleton-panel [hasVote]=true>
        </app-skeleton-panel>
        <div fxLayout="row wrap"
            fxLayoutAlign="center center">
            <div fxFlex.gt-sm="690px"
                fxFlex.gt-md="800px">
                <div class="error-container">
                    <app-error-card model="Action">
                    </app-error-card>
                </div>
            </div>
        </div>
    </div>
    <mat-toolbar *ngSwitchCase="'complete'"
        color="primary"
        [@fadeIn]="!isLoading"
        class="header-info-panel">
        <div *ngIf="proposal"
            class="image-container"
            fxLayout="column"
            [defaultImage]="handleImageUrl(proposal.imageUrl, true)"
            [lazyLoad]="handleImageUrl(proposal.imageUrl)">
            <app-admin-panel path="/proposals"
                [item]="proposal"
                model="Proposal"
                redirectRoute="''">
            </app-admin-panel>
            <div fxLayout="row"
                fxFlex></div>
            <!-- <div fxLayout="column"
				fxLayoutAlign="start start">
			</div> -->
            <div fxLayout="row wrap"
                fxLayoutAlign="center center">
                <div fxFlex.gt-sm="690px"
                    fxFlex.gt-md="800px">
                    <app-share-buttons></app-share-buttons>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap"
            fxLayoutAlign="center center">
            <div fxFlex.gt-sm="690px"
                fxFlex.gt-md="800px">
                <div class="mat-display-1"
                    translate>{{proposal.title}}</div>

                <span class="mat-body">This is a Action for:
                    <span
                        *ngFor="let parent of proposal.solutions; let i = index">
                        <a mat-button
                            [title]="parent.title || parent.name"
                            routerLink="/solutions/{{parent.slug || parent._id}}">{{parent.title || parent.name | slice:0:30 }}{{(parent.title || parent.name).length > 30 ? '...' : ''}}</a>
                    </span>
                </span>
                <app-more-less [displayText]="proposal.description"
                    maxHeight="200">
                </app-more-less>
                <mat-divider></mat-divider>
                <p></p>
                <div class="buttons">
                    <app-vote-buttons [item]="proposal"
                        (vote)="onVote($event, 'Proposal')">
                    </app-vote-buttons>
                </div>
            </div>
        </div>
    </mat-toolbar>
</ng-container>

<div class="container"
    *ngIf="proposal"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
    <div fxFlex.gt-sm="690px"
        fxFlex.gt-md="800px">
        <mat-accordion [style.margin-bottom.rem]="1"
            [style.display]="'block'">
            <mat-expansion-panel class="accordion-header">
                <mat-expansion-panel-header>
                    <h2 class="custom-headline no-margin"
                        [ngStyle]="{ 'text-align': 'center', 'width': '100%'}">
                        Community Suggestions
                    </h2>
                </mat-expansion-panel-header>
                <app-sort-bar model="Suggestion"></app-sort-bar>
                <app-card-list path="/suggestions"
                    [@fadeIn]=true
                    [items$]=suggestions$
                    model="Suggestion"
                    (restore)="admin.onRestore($event, 'Suggestion')"
                    (softDelete)="admin.onSoftDelete($event, 'Suggestion')"
                    (delete)="admin.onDelete($event, 'Suggestion')"
                    (vote)="onVote($event, 'Suggestion')">
                </app-card-list>
            </mat-expansion-panel>
        </mat-accordion>
        <div *ngIf="isVerified">
            <mat-toolbar color="primary"
                fxLayoutAlign="center center"
                [style.margin-bottom]="'1rem'">
                <h2 class="custom-headline center-text">Create your own
                    Suggestion
                </h2>
            </mat-toolbar>
            <app-make-suggestion parent="action"
                (submitForm)="handleSuggestionSubmit($event)">
            </app-make-suggestion>
        </div>
    </div>
</div>
