:host {
  display: flex;
  flex: 1;
}

.border-override {
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.sticky-toolbar {
	position: fixed;
	top: 0px;
	z-index: 200;
}

.sticky-verify {
	position: fixed;
	z-index: 210;
	height: 38px;
}

.sticky-search {
	position: fixed;
	z-index: 220;
}

.top-bar-height-lg {
	top: 64px;
}

.top-bar-height-sm {
	top: 56px;
}

.with-sidenav {
	width: calc(100% - 270px);
}

// need a spacer because the toolbar is fixed now
router-outlet::after {
	min-height: 64px;
	content:"";
	display: block;
	@media screen and (max-width: 599px) {
		min-height: 44px;
	}
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.logo-container {
	max-width: 270px;
	margin-bottom: 32px;
	margin-top: 32px;
	cursor: pointer;

	.logo {
			width: 100%;
			height: auto;
			padding: 16px;
	}
}

.spacer {
	height: 24px;
}

::ng-deep .mat-input-underline {
    display: none;
}
