<div fxFlex>
    <mat-sidenav-container fxFill>
        <mat-sidenav #sidenav
            [mode]="isMobile ? 'over' : 'side'"
            [opened]="!isMobile"
            [disableClose]="!isMobile"
            ngClass.gt-sm="has-border"
            fixedInViewport="true">
            <app-side-menu
                [organization]="organization"
                (close)="sidenav.close()"
                >
            </app-side-menu>
        </mat-sidenav>
        <mat-sidenav-content [style.height]="'100vh'">
            <div [style.min-height]="'100vh'">
                <div sticky-component
                    [sideNavRef]="sidenav"
                    [organization]="organization"></div>
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
