:host {
  display: flex;
  flex: 1;
}

.border-override {
	border: 1px solid rgba(255, 255, 255, 0.8);
}

.mat-sidenav {
  min-width: 270px;
  max-width: 28%;
}

.sticky-toolbar {
	top: 0px;
	z-index: 200;
	position: sticky;
}

.sticky-verify {
	position: fixed;
	z-index: 210;
	height: 38px;
}

.sticky-search {
	position: fixed;
	z-index: 220;
}

.top-bar-height-lg {
	top: 64px;
}

.top-bar-height-sm {
	top: 56px;
}

// // need a spacer because the toolbar is fixed now
// router-outlet::after {
// 	min-height: 64px;
// 	content:"";
// 	display: block;
// 	@media screen and (max-width: 599px) {
// 		min-height: 44px;
// 	}
// }

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.logo-container {
	max-width: 270px;
	margin-bottom: 32px;
	margin-top: 32px;
	cursor: pointer;

	.logo {
			width: 100%;
			height: auto;
			padding: 16px;
	}
}

.spacer {
	height: 24px;
}

::ng-deep .mat-input-underline {
    display: none;
}

.hide-login-menu {
	display: block;
}

.account-create-menu-icon {
	display: none;
}

.secure-wrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
    padding-bottom: 10px;
	padding-left: 10px;

	img {
		align-self: flex-end;
		margin-left: auto;
		width: auto;
		height: 35px;
	}


}

.secure-text {
	text-transform: uppercase;
	margin-bottom: 0;
}


@media screen and (max-width: 500px) {
	.secure-wrapper {
		position: fixed;
	}

	.hide-login-menu {
		display: none;
	}

	.account-create-menu-icon {
		display: block;
	}
}

@media screen and (max-width: 300px) {

	.toolbar-title {
		display: none;
	}
}
