<div fxFlex>
	<mat-sidenav-container fxFill>
		<mat-sidenav #sidenav
		    [mode]="isMobile ? 'over' : 'side'"
		    [opened]="!isMobile"
		    [disableClose]="!isMobile"
		    ngClass.gt-sm="has-border"
		    fixedInViewport="true">
			<div class="logo-container">
				<p>
					<img class="logo"
					    src="assets/logo-no-circle.png"
					    alt="NewVote" />
				</p>
			</div>
			<nav>
				<mat-list>
					<a mat-list-item
					    routerLink="/home"
					    routerLinkActive="active"
					    (click)="isMobile && sidenav.close()">
						<span translate>Home</span>
					</a>

					<mat-divider></mat-divider>

					<a mat-list-item
					    routerLink="/issues"
					    routerLinkActive="active"
					    (click)="isMobile && sidenav.close()">
						<span translate>Issues</span>
					</a>
					<a mat-list-item
					    routerLink="/solutions"
					    routerLinkActive="active"
					    (click)="isMobile && sidenav.close()">
						<span translate>Solutions</span>
					</a>

					<a mat-list-item
					    routerLink="/suggestions"
					    routerLinkActive="active"
					    (click)="isMobile && sidenav.close()">
						<span translate>Suggestions</span>
					</a>

					<mat-divider></mat-divider>

					<a mat-list-item
					    href="https://newvote.org/about-us"
					    target="_blank">
						<span translate
						    matLine>About NewVote</span>
					</a>

					<a mat-list-item
					    href="https://newvote.org/help"
					    target="_blank">
						<span translate>Help</span>
					</a>
				</mat-list>
			</nav>
		</mat-sidenav>
		<mat-sidenav-content>
			<mat-toolbar color="primary"
			    class="sticky-toolbar"
			    ngClass.gt-sm="with-sidenav">
				<button class="menu-button"
				    mat-icon-button
				    (click)="sidenav.toggle()"
				    fxHide.gt-sm>
					<mat-icon>menu</mat-icon>
				</button>
				<span>{{title}}</span>
				<div fxFlex></div>
				<button mat-icon-button
				    (click)="toggleSearch()">
					<mat-icon>search</mat-icon>
				</button>
				<div *ngIf="isAuthenticated">
					<button mat-icon-button
					    [matMenuTriggerFor]="userMenu"
					    translate>
						<mat-icon>person</mat-icon>
					</button>
					<mat-menu #userMenu="matMenu">
						<mat-list>
							<mat-list-item>
								<span translate>Logged in as</span>&nbsp;<b>{{username}}</b>
							</mat-list-item>
							<mat-divider></mat-divider>
							<a mat-menu-item
							    *ngIf="auth.isOwner() && organization"
							    routerLink="/communities/edit/{{organization._id}}"
							    translate>Edit Community</a>
							<mat-divider></mat-divider>
						</mat-list>
						<button mat-menu-item
						    (click)="logout()"
						    translate>Logout</button>
					</mat-menu>
				</div>
				<div *ngIf="!isAuthenticated">
					<button mat-stroked-button
					    class="border-override"
					    routerLink="/auth/login">Sign In</button>
					<button mat-flat-button
					    color="warn"
					    routerLink="/auth/signup">Create Account</button>
				</div>
				<div>
					<button mat-icon-button
					    [matMenuTriggerFor]="languageMenu">
						<mat-icon>language</mat-icon>
					</button>
					<mat-menu #languageMenu="matMenu">
						<button mat-menu-item
						    *ngFor="let language of languages"
						    (click)="setLanguage(language)">
							{{language}}
						</button>
					</mat-menu>
				</div>
			</mat-toolbar>
			<!-- only show if search button pressed -->
			<app-search-bar class="sticky-search"
			    ngClass.gt-sm="with-sidenav top-bar-height-lg"
			    ngClass.lt-md="top-bar-height-sm"
				[(isVisible)]="showSearch"></app-search-bar>

			<mat-toolbar color="warn"
			    *ngIf="showVerify"
			    class="sticky-verify"
			    ngClass.gt-sm="with-sidenav top-bar-height-lg"
			    ngClass.lt-md="top-bar-height-sm">
				<span class="mat-body">Your account is not yet verified</span>
				<div fxFlex></div>
				<button mat-stroked-button
				    routerLink="/auth/verify">Verify Now</button>
				<button mat-icon-button
				    (click)="hideVerify = true">
					<mat-icon>close</mat-icon>
				</button>
			</mat-toolbar>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
