.container {
	padding: 2em;
}

.container ~ .container {
	padding-top: 2em;
}

.container:last-of-type {
	padding-bottom: 2em;
}

.hero-image-container {
	position: relative;
	// background-color: blue;
	height: 48vh;
	min-height: 400px;
}

.hero-image {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: -1;

	height: 48vh;
	min-height: 400px;

	background-image: url('assets/home-background@720x-50.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.hero-text-container {
	text-align: center;
	color: white;

	.mat-display-2 {
		margin-bottom: 0px !important;
	}
}

.logo {
	width: 250px;
	height: auto;
}

.hot-issues-container {
	background-color: #FFFFFF;
}

.about-container {
	background-color: #FAFAFA;
}

.vote-container {
	background-color: #FFFFFF;
}

.how-container {
	background-color: #FAFAFA;
}

.final-container {
	background-color: #FFFFFF;
}

.info-card-container {
	padding: 16px;
}

.info-card > div:first-of-type {
	text-align: center;
}

.info-card {
	padding: 8px;
	height: 290px;

	.icon {
		height: 100px;
	}
}

#issues-card {
	background-color: #FFAB91;
}

#solutions-card {
	background-color: #FFF59D;
}

#proposals-card {
	background-color: #C5E1A5;
}
