<div *ngIf="auth.isVerified() && !auth.tourComplete()" class="tour-container" fxLayout="row" fxLayoutAlign="space-around center" >
	<div [style.padding-top]="'1rem'" fxLayoutAlign="start center">
		<h4 joyrideStep="step1"
			class="mat-title">New to NewVote? Let us help you get started.</h4>
	</div>
	<div 
		[style.margin-left]="'0.5rem'"
		fxFlex
		fxLayout="row wrap"
		fxLayoutAlign="end center"
		fxLayoutGap.sm="8px"
		fxLayoutGap.gt-sm="8px"
		>
		<button
			fxFlex.lt-sm="80px"
			(click)="onDone($event)"
			mat-flat-button>
			Dismiss
		</button>
		<button	
			fxFlex.lt-sm="80px"
			(click)="startTour($event)"
			mat-flat-button color="warn">
			Start Tour
		</button>
	</div>
</div>

<joyrideStep
	[title]="stepsArray[0].title"
	joyrideStep="step1"
	stepPosition="center"
	[stepContent]="myCustomContent"
	(done)="onDone()"
	>
	<ng-template #myCustomContent>
		<div style="width: 250px">
			<h4 class="mat-subheading-2">{{stepsArray[0].description}}</h4>
		</div>
	</ng-template>
</joyrideStep>

<joyrideStep
	[title]="stepsArray[1].title"
	joyrideStep="step2"
	stepPosition="center"
	[stepContent]="myCustomContent2"
	(done)="onDone()"
	>
	<ng-template #myCustomContent2>
		<div style="width: 250px">
			<p class="mat-subheading-2">{{stepsArray[1].description}}</p>
		</div>
	</ng-template>
</joyrideStep>

<joyrideStep
	[title]="stepsArray[7].title"
	joyrideStep="finish"
	stepPosition="center"
	[stepContent]="myCustomContent3"
	(done)="onDone()"
	>
	<ng-template #myCustomContent3>
		<div style="width: 300px">
			<p class="mat-subheading-2">{{stepsArray[7].description}}</p>
		</div>
	</ng-template>
</joyrideStep>


<ng-container *ngIf="loadingState === 'complete'; then mainContainer; else skeletonHeader">
</ng-container>

<ng-template #skeletonHeader>
	<app-skeleton-header>
	</app-skeleton-header>
</ng-template>

<ng-template #mainContainer>
	<div
	fxLayout="column"
	 [@fadeIn]="!isLoading"
	 fxLayoutAlign="center center"
	 class="hero-image-container">
		<div *ngIf="org"
			class="hero-image"
			[defaultImage]="handleImageUrl(org.imageUrl, true)"
			[lazyLoad]="handleImageUrl(org.imageUrl)">
		</div>
		<div class="hero-logo-container"
			[defaultImage]="handleImageUrl(org.iconUrl, true)"
			[lazyLoad]="handleImageUrl(org.iconUrl)"></div>
	</div>
</ng-template>

<ng-container [ngSwitch]="loadingState">
	<div *ngSwitchCase="'loading'"
	 class="community-container container">
		<div fxLayout="column">
			<div class="skeleton-title-wrap">
				<app-skeleton-text-bar [isHeading]=true
				 [width]="200">
				</app-skeleton-text-bar>
				<app-skeleton-text-bar [isSubtitle]=true
				 [width]="150">
				</app-skeleton-text-bar>
			</div>
			<div class="skeleton-triple-divider-container">
				<div class="skeleton-triple-section">
					<app-skeleton-text-bar [isHeading]=true
					 [width]="25">
					</app-skeleton-text-bar>
					<app-skeleton-text-bar [isSubtitle]=true
					 [width]="50">
					</app-skeleton-text-bar>
				</div>
				<mat-divider vertical="true"></mat-divider>
				<div class="skeleton-triple-section">
					<app-skeleton-text-bar [isHeading]=true
					 [width]="25">
					</app-skeleton-text-bar>
					<app-skeleton-text-bar [isSubtitle]=true
					 [width]="50">
					</app-skeleton-text-bar>
				</div>
				<mat-divider vertical="true">
				</mat-divider>
				<div class="skeleton-triple-section">
					<app-skeleton-text-bar [isHeading]=true
					 [width]="25">
					</app-skeleton-text-bar>
					<app-skeleton-text-bar [isSubtitle]=true
					 [width]="50">
					</app-skeleton-text-bar>
				</div>
			</div>
			<app-skeleton-button [width]="100">
			</app-skeleton-button>
			<div class="skeleton-community-footer">
				<app-skeleton-text-bar [isText]=true>
				</app-skeleton-text-bar>
			</div>
			<div class="skeleton-community-cta">
				<app-skeleton-text-bar [isSubtitle]=true
				 width="40">
				</app-skeleton-text-bar>
			</div>
		</div>
	</div>
	<div *ngSwitchCase="'error'"
	 class="community-container container">
		<div 
		 fxFlex.gt-sm="690px"
		 fxFlex.gt-md="800px"
		 fxLayout="column">
			<div class="mat-display-1 no-margin">
				<span *ngIf="org">
					Server Eror
				</span>
			</div>
			<div class="mat-h2"
			 *ngIf="org">
				Could not load organization data.
			</div>
			<div>
				<span class="mat-caption">Try refreshing the page, otherwise contact NewVote</span>
			</div>
		</div>
	</div>
	<app-home-info-panel
		*ngSwitchCase="'complete'"
		[userCount]="userCount"
		[org]="org"
		[solutions]="solutions"
		[proposals]="proposals"
		[issues]="issues"
	>
	</app-home-info-panel>
</ng-container>

<ng-container [ngSwitch]="loadingState">
	<div *ngSwitchCase="'loading'"
	 class="hot-issues-container container">
		<div class="skeleton-issues-container">
			<app-skeleton-text-bar class="skeleton-issue-header"
			 [isSubtitle]="true"
			 [width]="100">
			</app-skeleton-text-bar>
			<div class="skeleton-card-list">
				<app-skeleton-card>
				</app-skeleton-card>
				<app-skeleton-card>
				</app-skeleton-card>
				<app-skeleton-card>
				</app-skeleton-card>
			</div>
			<div class="skeleton-issues-footer">
				<app-skeleton-text-bar [isSubtitle]=true
				 [width]="75">
				</app-skeleton-text-bar>
			</div>
		</div>
	</div>

	<div *ngSwitchCase="'error'"
	 class="hot-issues-container container">
		<div class="skeleton-issues-container">
			<app-skeleton-text-bar class="skeleton-issue-header"
			 [isSubtitle]="true"
			 [width]="100">
			</app-skeleton-text-bar>
			<div class="skeleton-card-list">
				<app-skeleton-card>
				</app-skeleton-card>
				<app-skeleton-card>
				</app-skeleton-card>
				<app-skeleton-card>
				</app-skeleton-card>
			</div>
			<div class="skeleton-issues-footer">
				<app-skeleton-text-bar [isSubtitle]=true
				 [width]="75">
				</app-skeleton-text-bar>
			</div>
		</div>
	</div>

	<ng-template #customContent>	
		<div style="width: 200px">
			<p class="mat-subheading-2">{{stepsArray[2].description}}</p>
		</div>
	</ng-template>

	<app-issues-panel
		*ngSwitchCase="'complete'"
		joyrideStep="step3"
		[title]="stepsArray[2].title"
		[stepContent]="customContent"
		stepPosition="center"
		(done)="onDone()"
		[issues]="issues"
		>
	</app-issues-panel>
	<!-- <div *ngSwitchCase="'complete'"
		joyrideStep="step3"
		[title]="stepsArray[2].title"
		[stepContent]="customContent"
		stepPosition="center"
		(done)="onDone()"
		[@fadeIn]=true
		class="hot-issues-container container text-center"
		fxLayoutAlign="center center">
		<div
			fxFlex.gt-sm="690px"
			fxFlex.gt-md="800px"
		 	>
			<h2 class="mat-h2">What's Hot?</h2>
			<ng-container 
				*ngIf="issues.length < 1; then noIssues; else issuesExist">
			</ng-container>
		</div>
	</div>

	<ng-template #noIssues>
		<h3 class="mat-h3">Currently there are no issues for this Organization</h3>
		<div *ngIf="auth.isOwner() || auth.isAdmin()">
			<p>Start engaging your community and create issues.</p>
			<button mat-button
			 color="primary"
			 routerLink="/issues/create">
				Create Issue
			</button>
		</div>
	</ng-template>
	<ng-template #issuesExist>
		<app-grid-list 
            *ngIf="issues"
            path="/issues"
            model="Issue"
            [itemLimit]="ISSUE_LIMIT"
            [titleCard]=true
            [items]=issues
            (restore)="admin.onRestore($event, 'Issue')"
            (delete)="admin.onDelete($event, 'Issue')"
            (softDelete)="admin.onSoftDelete($event, 'Issue')"></app-grid-list>
		<div>
			<button mat-button
			 routerLink="/issues">
				SEE ALL ></button>
		</div>
	</ng-template> -->
</ng-container>

<ng-container [ngSwitch]="loadingState">
	<div *ngSwitchCase="'loading'" class="final-container container">
		<div class="skeleton-footer">
			<app-skeleton-button [width]="100"
			 class="footer-button">
			</app-skeleton-button>
			<app-skeleton-text-bar [isText]=true
			 [width]="205">
			</app-skeleton-text-bar>
		</div>
	</div>
	<app-home-footer
		[org]="org"
		>
	</app-home-footer>
</ng-container>
