.container {
	padding: 2em;
}

.container ~ .container {
	padding-top: 2em;
}

.container:last-of-type {
	padding-bottom: 2em;
}

.text-center {
	text-align: center;
}

.hero-image-container {
	position: relative;
	// background-color: blue;
	height: 32vh;
	// min-height: 320px;
}

.community-container {
	text-align: center;
}

.hero-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	height: 100%;
	// min-height: 320px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(rgba(0, 0, 0, 0.0) 40%,rgba(0, 0, 0, 1.0) 65%);
		opacity: 0.25;
	}
}

.no-margin {
	margin: 0;
}

.hero-logo-container {
	height: 100%;
	width: 100%;
	max-width: 200px;
	max-height: 200px;
	padding-top: 32px;
	padding-bottom: 32px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.text-block {
	padding: 16px;
}

.container-white {
	background-color: #FFFFFF;
}

.container-grey {
	background-color: #FAFAFA;
}

.hot-issues-container {
	background-color: #FFFFFF;
}

.community-container {
	background-color: #FAFAFA;

	button {
		margin-top: 16px;
		margin-bottom: 16px;
	}
}

.issues-button {
	font-weight: 800;
	font-size: 1.4em;
}

.about-container {
	background-color: #FFFFFF;
}


.final-container {
	background-color: #FFFFFF;
	cursor: pointer;
}

.skeleton-title-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 1rem;
}

.skeleton-triple-divider-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: space-around;
	margin-bottom: 1rem;
}

.skeleton-triple-section {
	width:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin-bottom: 0.5rem;
}

.skeleton-community-footer {
	margin-top: 0.5rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.skeleton-community-cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.75rem;
}

.skeleton-issues-container {
	display: flex;
	flex-direction: column;
}

.skeleton-issue-header {
	margin-left: auto;
	margin-right: auto;
}

.skeleton-card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.skeleton-issues-footer {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.skeleton-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.footer-button {
	margin-right: 1rem;
}

.hero-image {
	filter: blur(20px);
	// transition: opacity 0.5s;
	transition: filter 1.5s;
	// opacity: 0;
}

 .ng-lazyloaded {
	// opacity: 1;
	filter: blur(0px);
} 

.tour-container {
	color: #CFE9E4;
	background-color: #039BE5;
	padding: 0 2rem;
}

.counter-click {
	margin: 0;
	text-decoration: underline;
	cursor: pointer;
}

@media only screen and (max-width: 750px) {

	.skeleton-card-list {
		flex-direction: column;
	}

}

@media only screen and (max-width: 450px) {

	.container {
		padding: 1em;
	}

}

@media only screen and (max-width: 370px) {

	.footer-button {
		margin-right: 0;
	}
}