.container {
	text-align: center;
	padding: 1em;
}

.group-label {
	text-align: left;
}


.quill-editor-container {
	margin-top: 25px;
	margin-bottom: 25px;
}

::ng-deep {
	.ql-container {
		height: 250px !important;
	}
}
