<div class="container">
    <div class=""
        fxLayout="row-reverse"
        fxLayoutGap="8px">
        <button
            *ngIf="showFeed"
            mat-raised-button
            color="warn"
            (click)="toggleUpdateForm()"
            fxFlex>Add Update</button
            >
        <button mat-raised-button
            color="primary"
            (click)="toggleProgressForm()"
            fxFlex="40%">Progress Update</button>
    </div>

    <div *ngIf="showForm"
        class="quill-editor-container cf">
        <quill-editor [(ngModel)]="progressForm.description"></quill-editor>
    </div>

    <div class="progress-form"
        *ngIf="showProgress"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="24px">
        <div>
            <h4 class="mat-title">Update the Progress of the {{ item.name }}
            </h4>
            <mat-divider></mat-divider>
        </div>

        <mat-radio-group [style.width.%]="50"
            fxLayout="column"
            fxLayoutGap="12px"
            aria-label="Select an option"
            [value]="currentActiveState"
            >
            <div *ngFor="let state of progress.states;let i=index"
                [style.width.%]="100">
                <mat-radio-button [style.width.%]="100"
                    (change)="handleProgressState(state)"
                    [value]="state.name"
                    [checked]="state.active === currentActiveState"
                    >
                    {{state.name}}
                </mat-radio-button> 
                <mat-divider [style.margin-top.rem]="1" *ngIf="i < progress.states.length -1"></mat-divider> 
            </div>

        </mat-radio-group>
    </div>
</div>
