.container {
    padding: 1em;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

q {
    font-style: italic;
    proposals: "« "" »";
}

.description-container {
    padding-top: 32px;
    padding-bottom: 32px;
}

//global overrides for mat-toolbar
.header-info-panel {
    white-space: normal !important;
    padding-top: 16px;
    height: auto;
    min-height: 32px;
    line-height: 32px;
    display: block;
}

.image-container {
    height: 350px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% + 32px);
    margin: -16px -16px 16px -16px;
}

.admin-panel {
    .button-panel {
        background-color: rgba(0, 0, 0, 0.6);
        border-bottom-left-radius: 15px;
    }
}

.buttons {
    margin-bottom: 16px;
}

.error-container {
    margin-top: 0.5rem;
    padding: 0.5rem;
}


.container {
    padding: 1em;
}

.logo {
    width: 150px;
    margin: 0 auto;
}

q {
    font-style: italic;
    topics: "« "" »";
}

.no-margin {
    margin: 0;
}



.topic-header {
    margin-bottom: 1rem;

    .mat-divider {
        min-height: 2px;
    }
}

.empty-card {
    cursor: default;
}

.empty-card-blank {
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    max-height: 350px;
    width: 50%;
    background-image: url("assets/logo-no-text.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0.5rem;
}

.empty-title-container {
    text-align: center;
}

.empty-card-wrap {
    background-color: white;
    padding: 1rem;
}

.mat-expansion-panel {
    background-color: #0277bd;
    color: white;
    text-align: center;
}

.divider {
    margin: 0.5rem 0;
}