.container {
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  topics: "« " " »";
}

.skeleton-card-list {
	margin-left: auto;
	margin-right: auto;
}

.center-text  {
  text-align: center;
}