<app-header-bar [title]="headerTitle"
    [text]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="isLoading"
    size="1.5">
</app-loader>


<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<ng-container 
			*ngIf="isLoading;
			then skeletonSolutions;
			else mainSolutions">
		</ng-container>
	</div>
</div>

<ng-template #skeletonSolutions>
	<div class="container"
		fxLayout="column"
		fxLayoutAlign="center start"
		>
		<div class="skeleton-card-list"
			>
			<app-skeleton-text-bar [isSubtitle]=true [width]="150">
			</app-skeleton-text-bar>

			<app-skeleton-wide-card
				[showImage]=true
				[showContent]=true
				[showActions]=true
				[showChildren]=true
			>
			</app-skeleton-wide-card>
			<app-skeleton-wide-card
				[showImage]=true
				[showContent]=true
				[showActions]=true
			>
			</app-skeleton-wide-card>
			<app-skeleton-wide-card
				[showImage]=true
				[showContent]=true
				[showActions]=true
			>
			</app-skeleton-wide-card>
		</div>	
	</div>
</ng-template>

<ng-template #mainSolutions>
	<app-card-list path="/solutions"
		[items]=solutions
		model="Solution"
		[showChildren]="true"
		childPath="proposals"
		childName="Actions"
		[showParent]="true"
		parentPath="/issues"
		parentPropName="issues"
		(restore)="onRestore($event)"
		(softDelete)="onSoftDelete($event)"
		(delete)="onDelete($event)"
		(vote)="onVote($event, 'Solution')"
		(childVote)="onVote($event, 'Proposal')">
	</app-card-list>
</ng-template>