<app-header-bar [title]="headerTitle"
    [text]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="loadingState === 'loading' || isLoading"
    size="1.5">
</app-loader>


<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<ng-container [ngSwitch]="loadingState">
				<div 
					*ngSwitchCase="'loading'"
					class="container"
					fxLayout="column"
					fxLayoutAlign="center start"
					>
					<div class="skeleton-card-list"
						>
						<!-- <app-skeleton-text-bar [isSubtitle]=true [width]="150">
						</app-skeleton-text-bar> -->
			
						<app-skeleton-wide-card
							[showImage]=true
							[showContent]=true
							[showActions]=true
							[showChildren]=true
						>
						</app-skeleton-wide-card>
						<app-skeleton-wide-card
							[showImage]=true
							[showContent]=true
							[showActions]=true
						>
						</app-skeleton-wide-card>
						<app-skeleton-wide-card
							[showImage]=true
							[showContent]=true
							[showActions]=true
						>
						</app-skeleton-wide-card>
					</div>	
				</div>
			<app-error-card *ngSwitchCase="'serverError'">
			</app-error-card>
			<app-card-list 
				*ngSwitchCase="'complete'"
				path="/solutions"
				[@fadeIn]=true
				[items]=solutions
				model="Solution"
				[showChildren]="true"
				childPath="proposals"
				childName="Actions"
				[showParent]="true"
				parentPath="/issues"
				parentPropName="issues"
				(restore)="onRestore($event)"
				(softDelete)="onSoftDelete($event)"
				(delete)="onDelete($event)"
				(vote)="onVote($event, 'Solution')"
				(childVote)="onVote($event, 'Proposal')">
			</app-card-list>

			<h2 class="mat-headline center-text">Suggestions for Solutions</h2>
			<app-card-list 
				*ngSwitchCase="'complete'"
				path="/suggestions"
				[@fadeIn]=true
				[items]=suggestions
				model="Suggestion"
				(restore)="onRestore($event)"
				(softDelete)="onSoftDelete($event)"
				(delete)="onDelete($event)"
				(vote)="onVote($event, 'Suggestion')"
				>
			</app-card-list>
			<div *ngIf="auth.isVerified()">
				<h2 class="mat-headline center-text">Create your own Suggestion</h2>
				<app-make-suggestion
					parent="solution"
					(submitForm)="handleSuggestionSubmit($event)"
					>
				</app-make-suggestion>
			</div>
		</ng-container>
	</div>
</div>
