.skeleton-card {
	box-shadow: 3px 4px 5px 0px #ababab;
	border-radius: 5px;
	margin-bottom: 1rem;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}
.skeleton-card-image {
	background-color: #d3d3d8;
	width: 100%;
	min-height: 155px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 5px 5px 0 0;
}

.skeleton-card-content {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
