.title-bold {
    font-weight: 700;
}

.no-margin {
    margin: 0 !important;
}

.field-container {
    margin-bottom: 0.5rem;

    p {
        margin: 0 !important;
    }
}

.tag-title-margin {
    margin-bottom: 0.5rem !important;
}