@import "src/theme/theme-variables";

:host {
    display: flex;
    flex: 1;
    background-color: #ECEFF1;
    height: calc(100vh - 64px);
}

.inline-loader {
    display: inline-block;
}

.remember-toggle {
    margin-bottom: 16px;
}

.recaptcha {
    margin-bottom: 16px;
}

.version {
    margin: 0;
}

.verify-container,
.mat-form-field {
    width: 100%;
}

.verify-error {
    color: mat-color($app-warn);
}

.verify-input-container {
    margin-bottom: 1rem;
}

.verify-button {
    background-color: #f0932b;
    color: rgb(36, 35, 35);
}

::ng-deep international-phone-number .form-control {
    width: 85%;
}
