<app-header-bar 
	joyrideStep="suggestion2"
	[title]="'Make a Suggestion'"
	[text]="'If there is an issue/action/topic which was missing and you feel strongly about here\'s the place to make ngOnInit
		You can create a suggestion, and the community leaders will see if it\'s suitable. Get your message heard!.
	'"
	stepPosition="'bottom'"
	
    [headerText]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="loadingState === 'loading' || isLoading"
    size="1.5">
</app-loader>

<div 
	class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div 
		joyrideStep="suggestion1"
		stepPosition="center"
		[title]="joyrideSuggestionListTitle"
		[text]="joyrideSuggestionListText"
		fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<ng-container [ngSwitch]="loadingState">
			<div 
				*ngSwitchCase="'loading'"
				class="container"
				fxLayout="column"
				fxLayoutAlign="center start"
				>
				<div class="skeleton-card-list">
					<app-skeleton-wide-card
						[showContent]=true
						[showActions]=true
					>
					</app-skeleton-wide-card>
					<app-skeleton-wide-card
						[showContent]=true
						[showActions]=true
					>
					</app-skeleton-wide-card>
					<app-skeleton-wide-card
						[showContent]=true
						[showActions]=true
					>
					</app-skeleton-wide-card>
				</div>
			</div>
			<app-error-card *ngSwitchCase="'serverError'">
			</app-error-card>
			<app-card-list 
				*ngSwitchCase="'complete'"
				path="/suggestions"
				[@fadeIn]="loadingState === 'complete'"
				[items]=suggestions
				model="Suggestion"
				(restore)="onRestore($event)"
				(softDelete)="onSoftDelete($event)"
				(delete)="onDelete($event)"
				(vote)="onVote($event)"></app-card-list>
		</ng-container>
	</div>
</div>





