<app-header-bar [title]="headerTitle"
    [text]="headerText"
    [buttons]="headerButtons">
</app-header-bar>

<app-loader [isLoading]="isLoading"
    size="1.5">
</app-loader>


<div class="container"
    fxLayout="row wrap"
    fxLayoutAlign="center start">
	<div fxFlex.gt-sm="690px"
	    fxFlex.gt-md="800px">
		<app-card-list path="/suggestions"
		    [items]=suggestions
			model="Suggestion"
			(restore)="onRestore($event)"
			(softDelete)="onSoftDelete($event)"
		    (delete)="onDelete($event)"
		    (vote)="onVote($event)"></app-card-list>
	</div>
</div>
